<!-- 
        Date        : 06-May-2017
        Author      : SMS Management & Technology
        Description : Visualforce page to export sobject records
 -->
<apex:page standardcontroller="Application__c" extensions="SearchApplicationController" contentType="application/vnd.ms-excel#Applications.xls"  cache="true">
    <apex:pageBlock title="List of Application">
        
        <br/><br/>
        
        <apex:pageBlockTable value="{!ApplicationList}" var="record" rendered="{!$CurrentPage.Parameters.fullExport != 'TRUE' && ($CurrentPage.Parameters.apptype == 'Amend COI' || $CurrentPage.Parameters.apptype == 'Cancel COI')}">
            <br/>
            <apex:repeat value="{!$ObjectType.Application__c.FieldSets.Applications_Export_Amend_COI}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable> 
        
        <apex:pageBlockTable value="{!ApplicationList}" var="record" rendered="{!$CurrentPage.Parameters.fullExport != 'TRUE' && ($CurrentPage.Parameters.apptype == 'New Eligibility' || $CurrentPage.Parameters.apptype == 'Review Eligibility')}">
            <br/>
            <apex:repeat value="{!$ObjectType.Application__c.FieldSets.Applications_Export_Eligibility}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable> 
        
        
        
        <apex:pageBlockTable value="{!completeApplicationList}" var="record" rendered="{!IF($CurrentPage.Parameters.fullExport == 'TRUE' && ($CurrentPage.Parameters.apptype == 'Amend COI' || $CurrentPage.Parameters.apptype == 'Cancel COI') ,true,false)}">
            <br/>
            <apex:repeat value="{!$ObjectType.Application__c.FieldSets.Applications_Export_Amend_COI}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable>
        
        <apex:pageBlockTable value="{!completeApplicationList}" var="record" rendered="{!IF($CurrentPage.Parameters.fullExport == 'TRUE' && ($CurrentPage.Parameters.apptype == 'New Eligibility' || $CurrentPage.Parameters.apptype == 'Review Eligibility') ,true,false)}">
            <br/>
            <apex:repeat value="{!$ObjectType.Application__c.FieldSets.Applications_Export_Eligibility}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable>
       
    </apex:pageBlock>
</apex:page>