<apex:page doctype="html-5.0" action="{!validateAndRedirect}" controller="BuilderLandingController" showheader="false" sidebar="false" docType="html-5.0" title="VMIA | Accounts" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false"> 
    <head>
        <c:IncludeAssets />
    </head>
    
     <style>
         body input.btn {
             margin: 0;
         }
         
        .pagebtn {
            background: rgba(7, 49, 99, 1);
            color: white;
            width: 250px;
            height: 50px;
            white-space: normal;
        }
        
        .pagebtnCards {
            background: rgba(7, 49, 99, 1);
            color: white;
            width: 150px;
            height: 50px;
            white-space: normal;
            margin: 10px;
        }
        
        .pagebtn:hover {
            background-color: #00ADE7;
            color: #fff;
        }
    </style>
    <body>          
        <div class="container">
            <header>
                <c:IncludeHeader /> 
            </header>
            <apex:outputPanel rendered="{!displayTCError}" layout="block" id="msgRenderPanel2">
                            <br/><br/>
                            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp; You must agree with the terms and conditions.
                            <br/><br/>
             </apex:outputPanel>
             <apex:outputPanel id="TermPanel" rendered="{!displayTC}">
             <apex:form id="loginForm">                      
                       
                        
                        <br></br>
                        <br></br>
     
                        <label class="control-label">Terms and Conditions</label>
                       <!-- <div style="border: 1px solid #e5e5e5; height: 600px; width: 1000px; overflow: auto; padding: 10px;">-->
                            <iframe height="600px" width="1000px" id="theIframe" name="theIframe" src="{!$Resource.terms_cond}"></iframe>
                        <!--</div>-->
                        
                        
                        
                             <!--<apex:inputCheckbox value="{!isTermsCheck}"/>-->
                             <apex:commandButton id="agreeBtn" action="{!agreeTerms}"  value="Agree" styleClass="btn btn-primary pagebtn"/>
                             <apex:commandButton id="dagreeBtn" action="{!dagreeTerms}"  value="Disagree" styleClass="btn btn-cancel pagebtn"/>
                            

                    </apex:form>
                 </apex:outputPanel>
                 
              <apex:outputPanel id="landingPagePanel" rendered="{!NOT(displayTC)}">
            <div class="container-border">
                <c:IncludeNavBar BuilderLandingPage="true"/>
            </div>
            <apex:pageMessages id="pageMsgs"/>
            <div class="row fsi-row-md-level fsi-row-lg-level details">
                <div class="col-md-6 container-border">
                   <h2 align="center">{!builderRecord.name}</h2>
                    <div class="col-md-6">
                        <dl>
                            <dt>Builder Account No.</dt>
                            <dd class="description">{!builderRecord.Account_Number__c}</dd>
                           
                            <dt>Entity type</dt>
                            <dd class="description">{!builderRecord.Legal_Business_Type__c}</dd>
                            
                            <dt>ABN</dt>
                            <dd class="description">{!builderRecord.ABN__c}</dd>
                            
                            <apex:outputPanel rendered="{!if((builderRecord.Legal_Business_Type__c != 'Sole Trader' && builderRecord.Legal_Business_Type__c != 'Partnership'), true, false)}">
                                <dt>ACN</dt>
                                <dd class="description">{!builderRecord.ACN__c}</dd>
                            </apex:outputPanel>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl>
                            <dt>Phone</dt>
                            <dd class="description">{!builderRecord.phone}</dd>
                            <!--
                            <dt>Email</dt>
                            <dd class="description">{!builderRecord.Primary_Email__c}</dd> 
                            -->
                            <dt>Mailing Address</dt>
                            <dd>
                                {!builderRecord.ShippingStreet} <br/>
                                {!builderRecord.ShippingCity}<br/>
                                {!builderRecord.ShippingState}<br/>
                                {!builderRecord.ShippingPostalCode}<br/>
                            </dd>
                        </dl> 
                    </div>  
                    <br/>
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <dl>
                                <dt>Distributor Name</dt>
                                <dd class="description">{!builderRecord.DistributorName__c}</dd>
                            </dl>
                        </div>    
                        <div class="col-md-6">
                            <dl>
                                <dt>Distributor Email</dt>
                                <dd class="description">{!builderRecord.DistributorEmail__c}</dd>
                            </dl>
                        </div>  
                    </div> 

                    <div class="row col-md-12" align="center" >
                        <br/>
                        <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c != 'Withdrawn' && 
                        builderRecord.Eligibility_Status__c != 'Cancelled' &&
                        builderRecord.Eligibility_Status__c != 'Declined', true, false)}">
                            <apex:outputlink styleClass="btn btn-primary pagebtnCards" value="{!URLFOR($Page.EditBuilderDetails,null,[id = builderRecord.Id])}"><span class="glyphicon glyphicon-pencil" style="padding:10px;"></span> Edit</apex:outputlink>
                        </apex:outputPanel>
                        <br/><br/>
                    </div>                            
                </div>
                
                <div class="col-md-6 container-border">
                    <h2 align="center">Eligibility Details</h2>
                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c != 'Under Application' 
                    && builderRecord.Eligibility_Status__c != 'Withdrawn'
                    && builderRecord.Eligibility_Status__c != 'Declined'
                    && builderRecord.Eligibility_Status__c != 'Cancelled', true, false)}">
                        <div class="col-md-6">
                            <dl>
                                <dt>Builder Status</dt>
                                <dd class="description">{!builderRecord.Eligibility_Status__c}</dd>
                                <dt>Available Construction Limit</dt>
                                <dd class="description">
                                    <apex:outputText value="{0, number, $ ###,###,###,###,###,###}" rendered="{!IF(builderRecord != null, builderRecord.AvailableConstructionLimit__c >=0, false) }">
                                    <apex:param value="{!builderRecord.AvailableConstructionLimit__c}"  />
                                </apex:outputText></dd>
                                <dd class="description">
                                <apex:outputText value="$0" rendered="{!IF(builderRecord != null, builderRecord.AvailableConstructionLimit__c < 0, false) }">
                                    <apex:param value="{!builderRecord.AvailableConstructionLimit__c}"/>
                                </apex:outputText></dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl>
                                <dt>Risk Category</dt>
                                <dd class="description" > 
                                    <apex:outputlink value="{!rateChartURL}"  target="_blank">Risk Category {!builderRecord.Builder_Risk_Rating__c}</apex:outputlink>
                                    <div class="pull-right">
                                    <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}"
                                        alt="Info" id="propValInfo1" width="50%"
                                        styleClass="img-responsive"
                                        title="Click on link to view DBI rate chart" />
                                </div>  
                                </dd>
                                <dt>Total Construction Limit</dt>
                                <dd class="description"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!builderRecord.Construction_Limit__c}" /></apex:outputText></dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Category</th>
                                        <th>Limit</th>
                                        <apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
                                            <th>Flat Rate</th>
                                        </apex:outputPanel>
                                    </tr>
                                    <apex:repeat var="cat" value="{!categories}">
                                        <tr>
                                            <td width="50%">{!cat.catName}</td>
                                            <td width="25%"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!cat.catLimit}" /></apex:outputText></td>
                                            <apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
                                                <td width="25%"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!cat.catPremium}" /></apex:outputText></td>
                                            </apex:outputPanel>
                                        </tr>
                                    </apex:repeat>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <dl>
                                <dt>Next Review Date</dt>
                                <dd>TBA</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl>
                                <dt></dt>
                                <dd></dd>
                            </dl>
                        </div>
                       
                        <div class="col-md-12">
                            <label>Eligibility Conditions</label><br/>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <apex:repeat value="{!eligibilityCondtions}" var="con">
                                        <tr>
                                            <apex:outputPanel rendered="{!if(con != 'Other',true,false)}">
                                                <td><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{!con}</td>
                                            </apex:outputPanel>
                                        </tr>
                                    </apex:repeat>
                                        <tr>
                                            <apex:outputPanel rendered="{!if(builderRecord.Other_Terms__c != NULL, true, false)}">
                                                <td><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;<apex:outputText value="{!builderRecord.Other_Terms__c}"/></td>
                                            </apex:outputPanel>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Under Application', true, false)}">
                        <div class="row col-md-12" align="center">
                            <apex:outputPanel rendered="{!if(builderRecord.Pending_Eligibility_Issued_Date__c != null, true, false)}">
                                <h4>Status : Under Application - Pending LOE Available</h4>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!if(builderRecord.Pending_Eligibility_Issued_Date__c != null, false, true)}">
                                <h4>Status : Under Application</h4>
                            </apex:outputPanel>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h3 style="color:red">PENDING</h3>
                        </div>
                    </apex:outputPanel>

                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Withdrawn', true, false)}">
                        <div class="row col-md-12" align="center">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h3 style="color:red">WITHDRAWN</h3>
                        </div>
                    </apex:outputPanel>

                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Cancelled', true, false)}">
                        <div class="row col-md-12" align="center">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h3 style="color:red">CANCELLED</h3>
                        </div>
                    </apex:outputPanel>

                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Declined', true, false)}">
                        <div class="row col-md-12" align="center">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h3 style="color:red">DECLINED</h3>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c != 'Under Application' && 
                    builderRecord.Eligibility_Status__c != 'Withdrawn' && 
                    builderRecord.Eligibility_Status__c != 'Cancelled' &&
                    builderRecord.Eligibility_Status__c != 'Suspended' &&
                    builderRecord.Eligibility_Status__c != 'Declined', true, false)}">
                        <div class="row col-md-12" align="center">
                            <br/><br/>
                            <div class="col-md-6">
                                <apex:outputPanel rendered="{!showHistoryButton}">
                                <apex:outputlink styleClass="btn btn-primary pagebtnCards" value="{!URLFOR($Page.EligibilityHistoryPage,null,[id = builderRecord.Id])}"><span class="glyphicon glyphicon-dashboard" style="padding:10px;" ></span> History</apex:outputlink></apex:outputPanel>
                            </div>
                            <div class="col-md-6">
                                <apex:outputlink styleClass="btn btn-primary pagebtnCards" value="{!URLFOR($Page.Generate_LOE,null,[id = builderRecord.Id])}" target="_blank"><span class="glyphicon glyphicon-print" style="padding:10px;"></span> Print</apex:outputlink>
                                <br/><br/>
                            </div>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Under Application', true, false)}">
                        <div class="row col-md-12" align="center">
                            <br/><br/><br/>
                            <apex:outputPanel rendered="{!if(builderRecord.Pending_Eligibility_Issued_Date__c != null, true, false)}">
                                <apex:outputlink styleClass="btn btn-primary pagebtnCards" value="{!URLFOR($Page.Generate_Eligibility_Pending_Letter,null,[id = newEligibilityApplicationId])}"  target="_blank"><span class="glyphicon glyphicon-print" style="padding:10px;"></span> Print</apex:outputlink>
                            </apex:outputPanel>
                            <br/><br/>
                        </div>
                    </apex:outputPanel>
                </div>
            </div>
            
            <!-- Applications table -->
            
            <div class="tableNames">
                <div class="row">
                    <div class="pull-left">
                        <h2>Applications in Progress</h2>
                        
                    </div>
                    <div class="pull-right recordCount"  >Open applications : {!applicationCount}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Application no.</th>
                        <th>Builder's legal entity name</th>
                        <th>Builder ABN</th>
                        <th>Application type</th>
                        <th>Application status</th>
                    </tr>
                    <apex:repeat var="a" value="{!builderRecord.Applications__r}">
                        <tr>
                            <td><apex:outputLink value="{!URLFOR($Page.EditEligibilityApplication,null,[id = a.id])}" styleclass="outputlink">{!a.name}</apex:outputLink></td>
                            <td>{!a.Hidden_Builder_Name__c}</td>
                            <td>{!a.Hidden_Builder_ABN__c}</td>
                            <td>{!a.RecordType.Name}</td>
                            <td>{!a.Application_Status__c}</td>
                        </tr>
                    </apex:repeat>
                </table>
                <div align="center">
                    <a  class="viewall" href="{!URLFOR($Page.SearchApplication)}">Click here to view all applications...</a>
                </div>
            </div>
                
            <hr class="line"/>
            
            <!-- Certifications table -->
            <div class="tableNames">
                <div class="row">
                    <div class="pull-left">
                        <h2>Certificates Issued This Week</h2>
                    </div>
                    <div class="pull-right recordCount" >Certificates issued this week : {!certificateCount}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Certificate no.</th>
                        <th width="25%">Address</th>
                        <th width="25%">Type</th>
                        <th>Status</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <apex:form >
                        <apex:repeat var="c" value="{!builderRecord.Certificates__r}">
                            <tr>
                                <td>
                                <apex:outputPanel rendered="{!if(c.Status__c != 'Awaiting Payment' && c.Status__c != 'Referred', true, false)}">
                                    <apex:outputLink value="{!URLFOR($Page.RequestAmendCOI,null,[id = c.id])}" styleclass="outputlink"> {!c.Policy_Number__c} </apex:outputLink>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!if(c.Status__c == 'Awaiting Payment' || c.Status__c == 'Referred', true, false)}">
                                    <apex:outputLink value="{!URLFOR($Page.RequestAmendCOI,null,[id = c.id])}" styleclass="outputlink"> {!c.Name} </apex:outputLink>
                                </apex:outputPanel>
                                </td>
                                <td>{!c.Property_Address__c}</td>
                                <td>{!c.Category_of_Building_Works__c}</td>
                                <td>{!c.Status__c}</td>
                                <td>$&nbsp;<apex:outputText value="{0, number,###,###,###,###,###,###}"><apex:param value="{!c.Contract_Price__c}" /></apex:outputText></td>
                                <!--  Commented for DBIPH1-555
                                <td>
                                    <apex:commandButton styleClass="btn btn-primary pagebtn" value="Request to amend or cancel" action="{!requestAmend}" rerender="block"  rendered="{!IF((c.Status__c == status_works_in_progress || c.Status__c == status_works_complete || c.Status__c == status_takenover), TRUE, FALSE)}">
                                        <apex:param name="myParam" value="{!c.id}"/>
                                    </apex:commandButton>
                                </td> -->
                            </tr>
                        </apex:repeat>
                    </apex:form>
                </table>
                <div align="center">
                    <a class="viewall" href="{!URLFOR($Page.SearchCertificates)}">Click here to view all certificates...</a>
                </div>
            </div>
            
            <hr class="line"/>

            <!-- BAT Letters table -->
            <div class="tableNames">
             <div class="row">
                    <div class="pull-left">
                        <h2>Letters</h2>
                    </div>
                    <div class="pull-right recordCount" >Letters received : {!letterCount}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Letter no.</th>
                        <th>Application/Certificate ref no.</th>
                        <th>Subject</th>
                    </tr>
                    <apex:repeat var="l" value="{!builderRecord.BAT_Letters__r}">
                        <tr>
                            <td><apex:outputLink value="{!URLFOR($Page.GenerateBATLetter,null,[id = l.Id])}" styleclass="outputlink">{!l.name}</apex:outputLink></td>
                            <td>{!IF((l.Application__r.Name==null), l.Certificate__r.Name, l.Application__r.Name) }</td>
                            <td>{!l.Letter_Subject__c}</td>
                        </tr>
                    </apex:repeat>
                </table>
                <div align="center">
                    <a class="viewall" href="{!URLFOR($Page.SearchLetters)}">Click here to view all letters...</a>
                </div>
            </div>
                
            <hr class="line"/>
            <br/>
            
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="heading-link">
                                <h2>Additional Builder Details &nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down" style="font-size:18px"></span></h2> 
                            </a>
                        </h5>
                    </div>
            
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <div class=" row details">
                                <div class="col-md-6">
                                    <dl>
                                        <dt>Business After Hours Phone</dt>
                                        <dd class="description">{!builderRecord.After_Hours_Phone__c}</dd>

                                        <dt>Date Commenced Trading</dt>
                                        <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!builderRecord.Date_Started_Trading__c}"/></apex:outputText></dd>

                                        <dt>ASIC Entity</dt>
                                        <dd class="description">{!builderRecord.ASIC_Entity__c}</dd>

                                        <dt>ASIC Status</dt>
                                        <dd class="description">{!builderRecord.ASIC_Status__c}</dd>

                                    </dl>
                                </div>
                                
                                <div class="col-md-6">
                                    <dl>

                                        <dt>Mailing Address</dt>
                                         <dd class="description">
                                            {!builderRecord.ShippingStreet} <br/>
                                            {!builderRecord.ShippingCity}<br/>
                                            {!builderRecord.ShippingState}<br/>
                                            {!builderRecord.ShippingPostalCode}<br/>
                                            {!builderRecord.ShippingCountry}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br/>
                <hr class="line"/>
                <br/>
                
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed heading-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <h2>Builder Contacts &nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down" style="font-size:18px"></span></h2> 
                            </a>
                        </h5>
                    </div>
                    
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            <div class="row details">
                                <apex:form >
                                    <apex:outputPanel rendered="{!relatedContacts.size == 0}">
                                        <apex:outputPanel rendered="{!builderRecord.isPersonAccount}">
                                            <h2 style="margin-left:10px;">{!builderRecord.Name}</h2>
                                            <div class="row details">
                                                <div class="col-md-6">
                                                    <dl>
                                                        <dt>Mailing Address</dt>
                                                        <dd class="description">
                                                            {!builderRecord.ShippingStreet} <br/>
                                                            {!builderRecord.ShippingCity}<br/>
                                                            {!builderRecord.ShippingState}<br/>
                                                            {!builderRecord.ShippingPostalCode}<br/>
                                                            {!builderRecord.ShippingCountry}
                                                        </dd>
                                            
                                                        <dt>Phone</dt>
                                                        <dd class="description">{!builderRecord.phone}</dd>
                    
                                                        <dt>Email</dt>
                                                        <dd class="description">{!builderRecord.Primary_Email__c}</dd>
                     
                                                        <dt>RBP VBA Number</dt>
                                                        <dd class="description">{!builderRecord.RBP_VBA_Number__pc}</dd>

                                                    </dl>
                                                </div>
                                                <div class="col-md-6">
                                                    <dl>
                                                        <dt>Position</dt>
                                                        <dd class="description">{!builderRecord.Builder_Role__pc}</dd>

                                                        <dt>Mobile</dt>
                                                        <dd class="description">{!builderRecord.PersonMobilePhone}</dd>
        
                                                        <dt>Date of Birth</dt>
                                                        <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!builderRecord.PersonBirthdate}" /></apex:outputText></dd>
        
                                                        <dt>RBP License First Issued</dt>
                                                        <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!builderRecord.RBP_License_First_Issued__pc}"/></apex:outputText></dd>
        
                                                        <dt>Drivers License Number</dt>
                                                        <dd class="description">{!builderRecord.Drivers_License_Number__pc}</dd>

                                                         <dt>Date Commenced with Company</dt>
                                                        <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!builderRecord.Date_Commenced_with_Company__pc}" /></apex:outputText></dd>
                                                    </dl>
                                                </div>
                                                <br/><br/>
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!!builderRecord.IsPersonAccount}">
                                            No contacts found.
                                        </apex:outputPanel>
                                    </apex:outputPanel>

                                    <apex:repeat value="{!relatedContacts}" var="con">
                                        <h2 style="margin-left:10px;">{!con.Contact__r.Name}</h2>
                                        <div class="row details">
                                            <div class="col-md-6">
                                                <dl>
                                                    <dt>Mailing Address</dt>
                                                    <apex:outputPanel rendered="{!con.Account__r.IsPersonAccount}">
                                                        <dd class="description">
                                                            {!con.Account__r.ShippingStreet} <br/>
                                                            {!con.Account__r.ShippingCity}<br/>
                                                            {!con.Account__r.ShippingState}<br/>
                                                            {!con.Account__r.ShippingPostalCode}<br/>
                                                            {!con.Account__r.ShippingCountry}
                                                        </dd>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!!con.Account__r.IsPersonAccount}">
                                                        <dd class="description">
                                                            {!con.Contact__r.MailingStreet} <br/>
                                                            {!con.Contact__r.MailingCity}<br/>
                                                            {!con.Contact__r.MailingState}<br/>
                                                            {!con.Contact__r.MailingPostalCode}<br/>
                                                            {!con.Contact__r.MailingCountry}
                                                        </dd>
                                                    </apex:outputPanel>
                                        
                                                    <dt>Phone</dt>
                                                    <dd class="description">{!con.Contact__r.phone}</dd>
                
                                                    <dt>Email</dt>
                                                        <apex:outputPanel rendered="{!con.Account__r.IsPersonAccount}">
                                                            <dd class="description">{!con.Account__r.Primary_Email__c}</dd>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!!con.Account__r.IsPersonAccount}">
                                                            <dd class="description">{!con.Contact__r.email}</dd>
                                                        </apex:outputPanel>
                 
                                                    <dt>RBP VBA Number</dt>
                                                    <dd class="description">{!con.Contact__r.RBP_VBA_Number__c}</dd>

                                                </dl>
                                            </div>
                                            <div class="col-md-6">
                                                <dl>
                                                    <dt>Position</dt>
                                                    <dd class="description">{!con.Role__c}</dd>

                                                    <dt>Mobile</dt>
                                                    <dd class="description">{!con.Contact__r.mobilePhone}</dd>
    
                                                    <dt>Date of Birth</dt>
                                                    <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!con.Contact__r.birthdate}" /></apex:outputText></dd>
    
                                                    <dt>RBP License First Issued</dt>
                                                    <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!con.Contact__r.RBP_License_First_Issued__c}" /></apex:outputText></dd>
    
                                                    <dt>Drivers License Number</dt>
                                                    <dd class="description">{!con.Contact__r.Drivers_License_Number__c}</dd>

                                                     <dt>Date Commenced with Company</dt>
                                                    <dd class="description"><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!con.Contact__r.Date_Commenced_with_Company__c}" /></apex:outputText></dd>
                                                </dl>
                                            </div>
                                            <br/><br/>
                                        </div>
                                    </apex:repeat>
                                </apex:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </apex:outputPanel>
            <br/><br/>
        </div>
        
        <footer class="footer">
            <c:IncludeFooter />
        </footer>
    </body>
</apex:page>