<!-- 
        Date        : 10-Mar-2017
        Author      : SMS Management & Technology
        Description : Visualforce page to export sobject records
 -->
<apex:page standardcontroller="Certificate__c" extensions="SearchCertificatesController" contentType="application/vnd.ms-excel#Certificate.xls" cache="true">
    <apex:pageBlock title="List of Certificates">
        <br/><br/>
        <apex:pageBlockTable value="{!lstCertification}" var="record" rendered="{!$CurrentPage.Parameters.fullExport != 'TRUE'}">
            <br/>
            <apex:repeat value="{!$ObjectType.Certificate__c.FieldSets.Certificate_Export2}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable> 

        <apex:pageBlockTable value="{!CompleteCertificateList}" var="record" rendered="{!IF($CurrentPage.Parameters.fullExport == 'TRUE',true,false)}">
            <br/>
            <apex:repeat value="{!$ObjectType.Certificate__c.FieldSets.Certificate_Export2}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>