<apex:page doctype="html-5.0" id="page" standardcontroller="Certificate__c" extensions="GenerateCertificatesController,referralAndValidationCheck" showheader="false" sidebar="false" title="VMIA | Accounts" applyHtmlTag="false" applyBodyTag="false">
    
    <head id="pageHead">
        <c:IncludeAssets id="assetCompId"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" href="{!$Resource.Address_CSS}"/>
        <link rel="stylesheet" href="{!$Resource.Normalize_Min_CSS}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.BootstrapDatePicker,'css/bootstrap-datepicker3.min.css')}"/>
    </head>

    <style type="text/css">
        .showContacts {
            background: transparent url('/img/alohaSkin/twisty_sprite.png') 0 0 no-repeat;
        }
        .hideContacts {
            background: transparent url('/img/alohaSkin/twisty_sprite.png') 0 -11px no-repeat;
        }
        .datepicker-dropdown{
            background-color: white;
        }
        .tooltip-inner {
            max-width: 650px;
            width: 650px;
            background-color : #fff;
            color: #000;
            border : solid 1px black
        }
    </style>

    <!-- Form Body Starts -->
    <body id="pageBody">
        <div class="container" id="containerId">
            <header>
                <c:IncludeHeader id="headerCompId"/>
            </header>

            <div class="row container-header">
                 <h2>{!$Label.Apply_COI_Header}</h2> <br/> <br/>
            </div>
            <br/>
            <apex:form id="coiFormId">
                <apex:actionFunction name="sendDataToController" action="{!processProperty}" reRender="txt" id="processPropertyFn">
                    <apex:param id="param1" name="param1" value="" />
                    <apex:param id="param2" name="param2" value="" />
                    <apex:param id="param3" name="param3" value="" />
                    <apex:param id="param4" name="param4" value="" />                    
                </apex:actionFunction>
                <!-- Project Type Details Start -->
                <apex:outputPanel id="projecPanelId">
                    <div class="row col-md-12 errorMessage">
                        <apex:pageMessages id="pMessageid"/>
                    </div>
                    <h2>Project type</h2>
                    <div class="row container-sections">
                        <div class="row col-md-12" align="left">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Have works already commenced on this project by another builder ? </label> 
                                <div class="col-sm-6">                           
                                    <apex:selectList value="{!certRecord.Taken_Over__c}" multiselect="false" size="1" id="takeOver">
                                        <apex:selectOption itemValue="true" itemLabel="Yes" id="takeOverYes"/>
                                        <apex:selectOption itemValue="false" itemLabel="No" id="takeOverNo"/>

                                        <apex:actionSupport id="takeOverEvent" event="onchange" action="{!updateCategoryOfWork}" reRender="categoryList,takeOverDescription" status="takeOverStatus"/>
                                        <apex:actionStatus id="takeOverStatus" style="margin-left:-100%">
                                            <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                        </apex:actionStatus>
                                    </apex:selectList>
                                </div>
                                <div class="pull-right">
                                    <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" alt="Info" id="takeOverInfo"  Title="Select Yes if this is a takeover project" width="50%"/>
                                </div>
                            </div>
                        </div>

                        <apex:outputPanel id="takeOverDescription">
                            <apex:outputPanel rendered="{!certRecord.Taken_Over__c}" id="takeOverRenderPanel">
                                <div class="row col-md-12" align="left">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label">Please describe the scope of work to be covered by this certificate of insurance:</label>                  
                                        <div class="col-md-12">
                                            <apex:inputTextarea value="{!certRecord.Description_of_Works__c}" id="scopeTextId" richText="false" styleClass="form-control"  />
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <br/>
                        <br/>
                        <div class="row col-md-12" align="left">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Category </label> 
                                <div class="col-sm-4">                           
                                     <apex:selectList id="categoryList" size="1" value="{!selectedCategory}" label="SearchType" styleClass="form-control">
                                        
                                        <apex:actionSupport event="onchange" action="{!propertyInsuredCheck}" rerender="propInsuredPanel,propertyPanelId,multiOwnerPanel,ownerPanelId" status="counterStatusProperty" oncomplete="initPropertyAddress();"/> 
                                        
                                        <!-- <apex:actionSupport id="categorySelectEvent" event="onchange" onsubmit="propertyInsuredCheck_JS();" rerender="ownerInputPanel,addOwnerBtnPanel,speculativePanel" status="ownerStatus"> 
                                           <apex:actionFunction action="{!propertyInsuredCheck}" name="propertyInsuredCheck"/>
                                        </apex:actionSupport> -->
                                        <apex:selectOptions value="{!categoryOfWork}" id="categoryOptions"/>                        
                                    </apex:selectList>
                                    <apex:actionStatus id="counterStatusProperty" style="margin-left:-100%">
                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                    </apex:actionStatus>
                                </div>
                                <div class="pull-right">
                                    <!--apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" alt="Info" id="categoryInfo" Title="A structural element is any internal or external load-bearing component of a building that is essential to the stability of the building or any part of it, including (but not limited to) foundations, floors, walls, roofs, columns and beams; or any component (including waterproofing) that forms part of the external walls or roof of the building.A non-structural element of the building or a defect that is in a structural element of the building but which does not cause physical damage to any part of the building and is not likely to result in imminent collapse and does not render the building unsuitable for occupation." width="50%"/-->
                                    <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" alt="Info" id="categoryInfo"  width="50%"/>
                                </div>
                            </div> 
                        </div>
                    </div>
                </apex:outputPanel>
                <!-- Project Type Details End -->
                <br/>

                <!-- Property Details Start -->
                <apex:outputPanel id="propertyPanelId">
                    <h2>Property details</h2>
                    <!-- Property Details Section - I Start -->
                    <div class="row container-sections">
                        <div class="row col-md-12" align="left">
                            <apex:outputPanel id="propInsuredPanel">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Number of properties to be insured </label> 
                                    <apex:actionStatus id="propChangeStatus" style="margin-left:-100%">
                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                    </apex:actionStatus>
                                    <div class="col-sm-4">                           
                                        <apex:inputtext id="propToInsureId" value="{!selectedPropertytoinsuread}" disabled="{!!proprtytoInsured}" onkeydown="if(event.keyCode==13){this.blur();actionFunction();}" styleClass="form-control">
                                            
                                            <apex:actionSupport event="onchange" action="{!propertyInsuredCheckForMulti}" rerender="propertyPanelId,multiOwnerPanel,ownerPanelId,pMessageid" status="propChangeStatus" oncomplete="initPropertyAddress();"/>
                                            
                                             <!-- <apex:actionSupport id="noOfPropChange" event="onchange" onsubmit="propertyInsuredCheckForMulti_JS();" rerender="propertyPanelId,multiOwnerPanel,ownerPanelId,pMessageid" status="propChangeStatus"> 
                                                <apex:actionFunction id="propChangeFn" action="{!propertyInsuredCheckForMulti}" name="propertyInsuredCheckForMulti"/>
                                            </apex:actionSupport> -->
                                        </apex:inputtext>
                                    </div>
                                    <br/>
                                    <div class="pull-right">
                                        <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" id="propInfo" alt="Info" width="50%" Title="Multi-Dwelling Construction applications will be referred for review if there are four or more properties on the same building contract"/>
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </div> 
                        <br/>
                    </div>
                    <!-- Property Details Section - I End -->

                    <!-- Property Details Section - II Start -->
                    <div class="row container-sections">
                        <!--  <div class="row col-md-12" align="left">
                            <div class="form-group">
                                <label class="col-md-12 control-label">
                                    Please select whether you wish to locate the property by street address or SPI &nbsp;&nbsp;
                                    <div class="pull-right">
                                        <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" alt="Info" id="locSPIInfo" width="50%"/>
                                    </div>
                                    <apex:actionStatus id="propStatus" style="margin-left:-100%">
                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                    </apex:actionStatus>
                                </label>
                                <div class="col-md-12">
                                    <apex:selectList size="1" value="{!selectedSearchType}" label="SearchType" styleClass="form-control">
                                        <apex:actionSupport event="onchange" action="{!applyFilter}" rerender="searchInputPanel,panelId" status="propStatus"/> 
                                        <apex:selectOptions value="{!searchType}" />                        
                                    </apex:selectList>
                                    <br/>
                                </div>
                                <br/><br/>
                            </div>
                        </div> 
                        <br/> -->

                        <!-- Error Message Panel -->
                        <apex:outputPanel id="panelId">
                            <div class="row col-md-12 errorMessage">
                                <apex:pageMessage id="noFilterMsg" summary="{!$Label.NoFilter}" severity="info" strength="2" rendered="{!noFilter}" />
                                <apex:pageMessage id="postCodeCheckMsg" summary="{!$Label.PostCodeCheck}" severity="info" strength="2" rendered="{!postCodeCheck}" />
                                <apex:pageMessage id="contractDateMsg" summary="{!$Label.ContractDateCheck}" severity="info" strength="2" rendered="{contractDateCheckFailed}" />
                                <apex:pageMessage id="inCompleteFilterMsg" summary="{!$Label.InCompleteFilter}" severity="info" strength="2" rendered="{!InCompleteFilter}" />
                                <apex:pageMessage id="spiSearchMsg" summary="{!$Label.PropertySearchBySpi}" severity="info" strength="2" rendered="{!noPropertybySpi}" />
                                <apex:pageMessage id="propErrorMsg" summary="{!$Label.No_Property_Error_COI}" severity="info" strength="2" rendered="{!propertyNotSelected}" />
                            </div>
                        </apex:outputPanel>

                        <!-- Property Panel Start -->
                        <apex:outputPanel id="searchInputPanel">
                            <div class="row col-md-12" align="center">
                                <apex:outputPanel rendered="{!spiTypeSearch}" id="spiRenderPanel"> 
                                     <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/SPI_Help_Image.png')}" alt="SPI Help Image" styleClass="img-responsive"/>
                                     <br/>
                                </apex:outputPanel>
                            </div>

                            <!-- Property Left Column Start -->
                            <div class="col-md-6">
                                <apex:outputPanel id="addressPanelLeftColId" rendered="{!addressTypeSearch}">
                                    <!-- <apex:outputPanel rendered="{!!multiCertificate}"> -->                                    
                                    <div class="search-property">
                                        <label>Property Address *</label>
                                        <input type="text" name="property_address_search" placeholder="" autocomplete="off" class="form-control" size="90" />
                                    </div>
                                    
                                    <!-- <div class="form-group-property">
                                            <label>Unit Number</label>
                                            <apex:inputText label="Unit Number" value="{!unitNumber}" rendered="{!addressTypeSearch}" id="unitNumberId" styleClass="form-control"/>
                                        </div> -->
                                    <!-- </apex:outputPanel> -->
                                    <div class="form-group-property">    
                                        <label>Street *</label>                              
                                        <apex:inputText label="Street" value="{!street}" rendered="{!addressTypeSearch}" id="streetId" styleClass="form-control"/>
                                    </div>
                                    <div class="form-group-property">  
                                        <label>Suburb / Town *</label>                                     
                                        <apex:inputText label="Suburb" value="{!suburb}" rendered="{!addressTypeSearch}" id="suburbId" styleClass="form-control"/>
                                    </div>       
                                    <apex:inputHidden value="{!state}" rendered="{!addressTypeSearch}" id="stateId" />
                                    <!-- <div class="form-group-property">  
                                        <label>State *</label>                                     
                                        <apex:inputText label="State" value="{!state}" rendered="{!addressTypeSearch}" id="stateId" />
                                    </div> -->

                                    <div id="output">
                                        <p id="error"></p>
                                        <apex:outputText value="{!addressStr}" id="addresStr"/>
                                        <property_address>{!addressStr}</property_address>
                        
                                        <!-- STEP 3: Include reset search button (allow reset in override and unverified situations) -->
                                        <!-- <input name="reset_property" type="button" value="{!$Label.Address_Search}" style="display:none" /> -->
                                    </div>
                                </apex:outputPanel>
                                

                                <apex:outputPanel id="spiPanelLeftColId" rendered="{!spiTypeSearch}">
                                    <div class="form-group">
                                        <label>Lot Number *</label>                            
                                        <apex:inputText label="Lot Number" value="{!lotNumber}" rendered="{!spiTypeSearch}" id="lotNumberId" styleClass="form-control"/>   
                                    </div> 
                                </apex:outputPanel>

                                
                            </div>
                            

                            <!-- Property Left Column End -->

                            <!-- Property Right Column Start -->
                            <div class="col-md-6">
                                <apex:outputPanel id="addressPanelRightColId" rendered="{!addressTypeSearch}">
                                  <!--  <div class="form-group-property">         
                                        <label>Street Number *</label>                         
                                        <apex:inputText label="Street Number" value="{!streetNumber}" rendered="{!addressTypeSearch}" id="streeNumberId" styleClass="form-control"/>
                                    </div>

                                    <div class="form-group-property">
                                        <label>Street Type *</label> 
                                         <apex:inputText label="Property Street Type *" value="{!selectedStreetType}" rendered="{!addressTypeSearch}" id="streeTypeId" styleClass="form-control"/>
                                    </div>-->

                                    <div class="form-group-property">
                                        <label>Postcode *</label>
                                        <apex:inputText label="Postcode" value="{!postcode}" rendered="{!addressTypeSearch}" id="postCodeId" styleClass="form-control"/>
                                    </div>
                                    <div class="form-group-property">
                                        <br/><br/>
                                    </div>
                                    <div class="form-group-property">
                                        <label></label>  
                                        <!-- STEP 3: Include reset search button (allow reset in override and unverified situations) -->
                                        <input name="reset_property" type="button" value="{!$Label.Address_Search}" style="display:none" />
                                    </div>
                                </apex:outputPanel>

                                <apex:outputPanel id="spiPanelRightColId" rendered="{!spiTypeSearch}">
                                    <div class="form-group">
                                        <label>Plan Number *</label>                            
                                        <apex:inputText label="Plan Number" value="{!planNumber}" rendered="{!spiTypeSearch}" id="planNumberId" styleClass="form-control"/>         
                                    </div> 
                                </apex:outputPanel>
                            </div>
                            <apex:outputPanel rendered="{!!multiCertificate}" id="multiCertPanel" >
                                <div class="form-group" style="clear:both">
                                    <div class="pull-left" style="padding-left: 11px">
                                        <div class="row col-md-12 errorMessage">
                                            <apex:actionStatus id="counterStatusContract" style="margin-left:-100%">
                                                 <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                             </apex:actionStatus>
            
                                             <apex:outputPanel id="contractsId" >
                                                 <apex:pageMessages id="pConMessageid" rendered="{!limitValidation}"/>
                                             </apex:outputPanel>  
                                        </div>  
                                        <label>
                                            Contract Value ($) *

                                        </label> 
                                       
                                        
                                                                            
                                        <apex:inputText value="{!contractVal}" styleClass="form-control" id="contractValInput">
                                            <apex:actionSupport id="contractValEvent" event="onblur" action="{!certificateFieldValidations}" rerender="contractsId"  status="counterStatusContract"/> 
                                        </apex:inputText>
                                    </div>
                                    <div class="pull-right" >
                                        <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" alt="Info" id="propValInfo" width="50%" Title="Contract value includes GST and any variations"/>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            <!-- Property Right Column End 
                            <div class="row pull-right">
                                <apex:commandButton styleclass="pagebtn" action="{!searchProperty}" value="Lookup Property" reRender="propResultPanel,noPropertyId,panelId,propertyInsured,pMessage" onkeydown="if(event.keyCode==13){this.blur();actionFunction();}" styleClass="btn btn-primary pagebtn"  status="lookupStatus"/>
                                <apex:actionStatus id="lookupStatus" style="margin-left:-100%">
                                    <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                </apex:actionStatus>  
                            </div> -->

                            <!-- Property Results Panel Start -->
                            <apex:outputPanel id="propResultPanel">
                                <apex:outputPanel id="PropertyId" rendered="{!displayProperty}">
                                    <div class="row col-md-12">
                                        <apex:outputPanel id="propValidateRenderPanel" rendered="{!!propertyNotValidated}">
                                            <label style="color: red">This Property has been successfully validated</label>
                                        </apex:outputPanel>
                                        <apex:outputPanel id="propNoValidatePanel" rendered="{!propertyNotValidated}">
                                            <label style="color: red">This Property has not been successfully validated.</label>
                                        </apex:outputPanel>

                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>Action</td>
                                                    <td>Property Street Number</td>
                                                    <td>Property Street Name</td>
                                                    <td>Property Suburb / Town</td>
                                                    <td>Property Postcode</td>
                                                </tr>
                                                <apex:variable value="{!0}" var="cnt" id="countVar"/>
                                                <apex:repeat var="property" value="{!propertyListClone}" id="propertyRepeatId">
                                                    <tr>
                                                        <td>
                                                            <apex:commandlink value="Remove" action="{!removeProperty}"  reRender="PropertyIds" id="removePropLink">
                                                                <apex:param name="indexforRemove" value="{!cnt}" id="propIndex"/>
                                                            </apex:commandlink> 
                                                            <apex:variable var="cnt" value="{!cnt+1}"/>  
                                                        </td>
                                                        <td><apex:outputText value="{!property.Street_Number__c}" id="propStreetNumberId"/></td>
                                                        <td><apex:outputText value="{!property.Street__c}" id="propStreetId"/></td>
                                                        <td><apex:outputText value="{!property.Suburb__c}" id="propertySuburbId"/></td>
                                                        <td><apex:outputText value="{!property.Postcode__c}" id="propPostcode"/> </td>
                                                    </tr>
                                                </apex:repeat>
                                            </table>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <!-- Property Results Panel End -->

                            <!-- Multi Owner section Starts -->
                            <apex:outputPanel id="multiOwnerPanel">
                                <apex:outputPanel id="multiUnitsId" rendered="{!multiCertificate}">
                                    <br/>
                                    <div class="row col-md-12" id="propertyDiv">
                                        <label>Property Unit Details</label>
                                        <apex:outputPanel layout="none" rendered="{!propertyWrapperList.size!=0}" id="propUnitRenderPanel">
                                            <div class="table-responsive">
                                                <table id="tableProperty" class="table table-hover">
                                                    <thead>
                                                        <tr class="headerRow">
                                                            <th class="actionColumn">Actions</th>
                                                            <th>Units</th>
                                                            <th>Unit Number</th>
                                                            <th>Contract Value*</th>
                                                            <th class="actionColumn">Owner Same as Unit 1</th>
                                                        </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                        <apex:variable value="{!0}" var="propertyIndex"/> 
                                                        <apex:variable value="{!0}" var="propertyIndexRemove"/> 
                                                        <apex:variable value="{!0}" var="indexForOwner"/> 
                                                        
                                                        <apex:repeat id="repeatProperty" value="{!propertyWrapperList}" var="item">
                                                            <tr id="{!$Component.repeatProperty}:property" class="dataRow">
                                                                <td>
                                                                    <apex:commandLink action="{!addOwnerToUnits}" id="addOwnerLink">
                                                                        <img id="{!$Component.repeatProperty}:Img" src="/s.gif" class="showContacts" border="0" height="11px" width="11px" style="padding-right: 4px;"/> &nbsp; Add/Remove Owner
                                                                        <apex:param assignTo="{!PropertyIndexvar}" value="{!propertyIndex}" name="indexProperty"/>
                                                                    </apex:commandLink>
                                                                    <apex:variable var="propertyIndex" value="{!propertyIndex+1}"/>
                                                                    <apex:variable var="propertyIndexRemove" value="{!propertyIndexRemove+1}"/>    
                                                                </td>
                                                     
                                                                <td>
                                                                    <apex:outputLink id="linkShowHide" value="javascript:toggleContactRow('{!$Component.repeatProperty}')">
                                                                        <img id="{!$Component.repeatProperty}:Img" src="/s.gif" class="showContacts" border="0" height="11px" width="11px" />
                                                                        &nbsp;
                                                                        <apex:outputText value="Unit {!propertyIndex}" />
                                                                    </apex:outputLink> 
                                                                </td>
                                                                
                                                                <td>
                                                                    <apex:inputText value="{!item.unitNumber}" id="unitNumId" styleClass="form-control"/>
                                                                </td>
                                                                <td><apex:inputText value="{!item.contractValueStr}" styleClass="form-control" id="itemContractValId"/></td>
                                                                <td>
                                                                    <apex:inputCheckbox disabled="{!if(propertyIndex==1,true,false)}"  id="selectContactRow" value="{!item.IsSelected}" >
                                                                        <apex:actionSupport event="onchange" action="{!OwnerChangeMethod}" rerender="multiOwnerPanel" status="counterStatusPropertyId">
                                                                            <apex:param assignTo="{!PropertyOWnerChangeIndex}" value="{!indexForOwner}" name="indexForOwn"/>
                                                                        </apex:actionSupport>
                                                                    </apex:inputCheckbox>
                                                                    <apex:variable var="indexForOwner" value="{!indexForOwner+1}"/>

                                                                    <apex:actionStatus id="counterStatusPropertyId" style="margin-left:-100%">
                                                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                                                    </apex:actionStatus>
                                                                </td> 
                                                            </tr>
                                                            <tr id="{!$Component.repeatProperty}:PropertyOwner" class="dataRow" style="display:none;">
                                                                <td colspan="100" style="padding:10px; padding-left: 45px;">
                                                                    <h3>Individual Owners</h3>
                                                                    <br/><br/>                                        
                                                                    <apex:outputPanel layout="none" id="propOwnersPanel">                                            
                                                                        <table id="tablePropertyOwners" class="table table-hover">
                                                                            <thead>
                                                                                <tr class="headerRow">
                                                                                    <th>First Name</th>
                                                                                    <th>Last Name</th>
                                                                                    <th>Email</th>
                                                                                    <th>Address</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <apex:repeat id="repeatPropertyOwnersList"
                                                                                    value="{!item.IndividualOwnerset}"
                                                                                    var="subitem">
                                                                                    <apex:repeat id="repeatPropertyOwners" value="{!subitem.oIndividualOwner}" var="individualOwner">
                                                                                        <tr>
                                                                                            <td><apex:outputText id="indOwnerFirstName" value="{!individualOwner.fName}" /></td>
                                                                                            <td><apex:outputText id="indOwnerLastName" value="{!individualOwner.lName}"/></td>
                                                                                            <td><apex:outputText id="indOwnerEmail" value="{!individualOwner.emailstr}" /></td>
                                                                                            <td><apex:outputText value="{!individualOwner.businessAddressStr},{!individualOwner.businessSuburbStr},{!individualOwner.businessStateStr},{!individualOwner.businessPostCodeStr},{!individualOwner.businessCountryStr}"/></td>
                                                                                        </tr>
                                                                                    </apex:repeat>  
                                                                                </apex:repeat>
                                                                            </tbody>
                                                                        </table>
                                                                    </apex:outputPanel>
                                                                </td>
                                                            </tr>
                                                            <tr id="{!$Component.repeatProperty}:PropertyOtherOwner" class="dataRow" style="display:none;">
                                                                <td colspan="100" style="padding:10px; padding-left: 45px;">
                                                                    <h3>Other Owners</h3>
                                                                    <br/><br/>                                        
                                                                    <apex:outputPanel layout="none" id="propOrgOwners">                                            
                                                                        <table id="tablePropertyOwners" class="table table-hover">
                                                                            <thead>
                                                                                <tr class="headerRow">
                                                                                    <th>Organisation Name</th>
                                                                                    <th>ABN</th>
                                                                                    <th>ACN</th>
                                                                                    <th>Email</th>
                                                                                    <th>Address</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <apex:repeat id="repeatPropertyOtherOwnersList"
                                                                                    value="{!item.IndividualOwnerset}"
                                                                                    var="subitem">
                                                                                    <apex:repeat id="repeatPropertyOwners" value="{!subitem.oOtherOwner}" var="OtherOwner">
                                                                                        <tr class="dataRow">
                                                                                            <td><apex:outputText id="otherOwnerName" value="{!OtherOwner.name}" /></td>
                                                                                            <td><apex:outputText id="otherOwnerABN" value="{!OtherOwner.abnStr}"/></td>
                                                                                            <td><apex:outputText id="otherOwnerACN" value="{!OtherOwner.acnStr}" /></td>
                                                                                            <td><apex:outputText id="otherOwnerEmail" value="{!OtherOwner.primaryEmail}" /></td>
                                                                                            <td><apex:outputText value="{!OtherOwner.businessAddressStr},{!OtherOwner.businessSuburbStr},{!OtherOwner.businessStateStr},{!OtherOwner.businessPostCodeStr},{!OtherOwner.businessCountryStr}"/></td>
                                                                                        </tr>
                                                                                    </apex:repeat>  
                                                                                </apex:repeat>
                                                                            </tbody>
                                                                        </table>
                                                                    </apex:outputPanel>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </apex:outputPanel>
                                    </div>
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <!-- Multi Owner section Ends -->
                        </apex:outputPanel>
                        <!-- Property Panel Ends -->
                    </div>
                    <!-- Property Details Section - II End -->
                </apex:outputPanel>
                <!-- Property Details End -->
                <br/>
                <!-- Contract Details Start -->
                <apex:outputPanel id="contractPanelId">
                    <h2>Contract details</h2>
                    <!-- <div class="errorMessage"> -->

                        
                    <!-- </div> --> 
                    <div class="row container-sections">
                        <apex:outputPanel id="dateMsg">
                            <apex:outputPanel id="dateMsgRdrPanel" rendered="{!completionDateInPast}">
                                <div class="row col-md-12 errorMessage">
                                    <apex:pageMessage summary="{!$Label.Estimation_End_Date_Check}" severity="info" strength="2" id="dateMsgId" />
                                </div>
                                <br/><br/>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <br/>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contract Date *</label> 
                            <div class="col-sm-4">                           
                                <apex:inputField label="Contract Date" value="{!certRecord.Building_Contract_Date__c}" id="contractDateId" styleClass="form-control" showDatepicker="false"/>
                            </div>
                            <div class="pull-right">
                                <apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Info_Icon.png')}" alt="Info" id="contractDateInfo" width="50%" Title="The date the contract was signed. If a contract hasn't been signed, please indicate an estimated date this will occur"/>
                            </div>
                        </div> 
                        <br/><br/>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Estimated Start Date * </label>
                            <div class="col-sm-4">                            
                                <apex:inputField label="Estimated Start Date" value="{!certRecord.Estimated_Start_Date__c}" id="estStartDateId" styleClass="form-control" showDatepicker="false">
                                    <apex:actionSupport id="estStDateEvent" event="onchange" action="{!checkDates}" rerender="dateMsg" status="startDateStatus"/>
                                    <apex:actionStatus id="startDateStatus" style="margin-left:-100%">
                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                    </apex:actionStatus>
                                </apex:inputField>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Estimated Completion Date *</label>
                            <div class="col-sm-4">                            
                                <apex:inputField label="Estimated Completion Date" value="{!certRecord.Estimated_Completion_Date__c}" id="estEndDateId" styleClass="form-control" showDatepicker="false">
                                    <apex:actionSupport id="estEndDateEvent" event="onchange" action="{!checkDates}" rerender="dateMsg" status="completionDateStatus"/>
                                    <apex:actionStatus id="completionDateStatus" style="margin-left:-100%">
                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                    </apex:actionStatus>
                                </apex:inputField>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
                <!-- Contract Details End -->
                <br/>
                <apex:actionFunction action="{!applyOwnerFilter}" name="applyOwnerFilter" reRender="noMandatorySelected,orgAddressPanel,indAddressPanel"/>
                <!-- Owner Details Start -->
                <apex:outputPanel id="ownerPanelId">
                    <apex:outputPanel rendered="{!!multiCertificate}" id="ownerDetailsRenderPanel">
                        <h2>Owner details</h2>
                        
                        <div class="row container-sections" >
                            <!-- Single Owner section starts -->
                            <apex:outputPanel id="pSingleOwnerId" rendered="{!!multiCertificate}">
                                <div class=" row col-md-12" align="left">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label">
                                            Please enter the details of the property owner or owners as recorded on the building contract. If there is no building contract and the builder owns the property, please select the 'Builder - Speculative' option from the dropdown below &nbsp;&nbsp;
                                            
                                            <apex:actionStatus id="ownerStatus" style="margin-left:-100%">
                                                <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                            </apex:actionStatus>
                                        </label>
                                        <div class="col-md-8">
                                            <apex:selectList size="1" id="seletecOwnerType" value="{!seletecOwnerType}" label="Owner Type" styleClass="form-control">
                                                
                                                <apex:actionSupport id="ownerTypeEvent" event="onchange" action="{!applyOwnerFilter}" rerender="ownerInputPanel,addOwnerBtnPanel,speculativePanel,noMandatorySelected,ownerResultPanel" status="ownerStatus"/> 
                                                 
                                                <apex:selectOptions value="{!ownerType}" id="ownerTypeOptions"/>                        
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                                <br/>

                                <apex:outputPanel id="noOwnerTypeSelected">
                                    <div class="row col-md-12 errorMessage">
                                        <apex:pageMessage id="noOwnerMsg" summary="{!$Label.OwnerTypeNotSelected}" severity="info" strength="2" rendered="{!ownerTypeFlag}" /> <br/>
                                    </div>
                                </apex:outputPanel>
                                    
                                <apex:outputPanel id="noMandatorySelected">
                                    <div class="row col-md-12 errorMessage">
                                        <apex:pageMessage id="mandatoryMsg" summary="{!$Label.MandatoryOption}" severity="info" strength="2" rendered="{!incompleteMandatoryOption}" />
                                        <apex:pageMessage id="dupeOwnerMsg" summary="{!$Label.DuplicateOwner}" severity="info" strength="2" rendered="{!duplicatePropertyOwnerFound}" />
                                        <apex:pageMessage id="fNameLengthChkMsg" summary="{!$Label.fNameLength}" severity="info" strength="2" rendered="{!fNameTooLong && seletecOwnerType == 'Individual'}" />
                                        <apex:pageMessage id="lNameLengthChkMsg" summary="{!$Label.lNameLength}" severity="info" strength="2" rendered="{!lNameTooLong && seletecOwnerType == 'Individual'}" />
                                        <apex:pageMessage id="bNameLengthChkMsg" summary="{!$Label.bNameTooLong}" severity="info" strength="2" rendered="{!businessNameTooLong && seletecOwnerType == 'Organisation'}" />
                                        <apex:pageMessage id="abnChkMsg" summary="{!$Label.ABNCheck}" severity="info" strength="2" rendered="{!abnCheckfailed && seletecOwnerType == 'Organisation'}" />
                                        <apex:pageMessage id="emailErrMsg" summary="{!$Label.emailValidation}" severity="info" strength="2" rendered="{!emailFlag}" />
                                        <apex:pageMessage id="acnChkMsg" summary="{!$Label.ACNCheck}" severity="info" strength="2" rendered="{!acnCheckfailed && seletecOwnerType == 'Organisation'}" />
                                        <apex:pageMessage id="postCodeChkMsg" summary="{!$Label.PostCodeCheck}" severity="info" strength="2" rendered="{!postCodeCheck}"/><br/>
                                    </div>
                                </apex:outputPanel>

                                <apex:outputPanel id="speculativePanel">
                                    <apex:outputPanel rendered="{!IF(seletecOwnerType =='Speculative',true,false)}" id="speculativeRenderPanel">
                                        <div class="row col-md-12 errorMessage">
                                            <p>You have selected that this project is a speculative build, on a property owned by the builder. The Certificate of Insurance will be issued with the builder’s details in place of an owner. Once this speculative project is sold, the new owner will receive the full benefit of the insurance policy and be eligible to claim against it</p>
                                        </div>
                                    </apex:outputPanel>
                                </apex:outputPanel>

                                <!-- Property Owner Input Panel Start -->
                                <apex:outputPanel id="ownerInputPanel">
                                    <apex:actionRegion id="ownerInputRegion">
                                        <!-- Property Owner Left Column Start -->
                                        <div class="col-md-6">
                                            <!-- Individual Owner Left Column Start -->
                                            <apex:outputPanel id="propIndOwnerPanelLeftColId" rendered="{!IF(seletecOwnerType=='Individual',true,false)}">
                                                <div class="form-group">
                                                    <label>First Name *</label>
                                                    <apex:inputText value="{!firstName}" id="ownerFirstNameId" styleClass="form-control"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Last Name *</label>
                                                    <apex:inputText value="{!lastName}" id="ownerLastNameId" styleClass="form-control"/>
                                                </div>
                                                <div class="form-group">  
                                                    <label>Email *</label>                                     
                                                    <apex:inputText value="{!email}" id="ownerEmailId" styleClass="form-control"/> 
                                                </div>
                                                <div class="form-group">  
                                                    <label>Phone *</label>                                     
                                                    <apex:inputText value="{!phone}" id="ownerPhoneId" styleClass="form-control"/> 
                                                </div>

                                            </apex:outputPanel>
                                            <!-- Individual Owner Left Column End -->

                                            <!-- Business Owner Left Column Start -->
                                            <apex:outputPanel id="propBusinessOwnerPanelLeftColId" rendered="{!IF(seletecOwnerType=='Organisation',true,false)}">
                                                <div class="form-group">
                                                    <label>Business Name *</label>
                                                    <apex:inputText value="{!legalEntity}" id="legalEntity" styleClass="form-control"/> 
                                                </div>      

                                                <div class="form-group">
                                                    <label>Business ABN </label>
                                                    <apex:inputText value="{!abn}" id="abn" styleClass="form-control"/>  
                                                </div>  

                                                <div class="form-group">
                                                    <label>Business ACN </label>
                                                    <apex:inputText value="{!acn}" id="acn" styleClass="form-control"/>  
                                                </div> 
                                            </apex:outputPanel>
                                            <!-- Business Owner Left Column End -->
                                        </div>
                                        <!-- Property Owner Left Column End -->

                                        <!-- Property Owner Right Column Start -->
                                        <div class="col-md-6">
                                            <!-- Individual Owner Right Column Start -->
                                            <apex:outputPanel id="propIndOwnerPanelRightColId" rendered="{!IF(seletecOwnerType=='Individual',true,false)}">
                                                <script>
                                                    initIndAddress();
                                                </script>
                                                <div class="search-ind">
                                                    <label>Individual Owner Address *</label><br/>
                                                    <input type="text" name="ind_address_search" placeholder="" autocomplete="off" class="form-control" size="40" />
                                                </div>
                                                <div class="form-group-ind">  
                                                    <label>Street *</label>                                     
                                                    <apex:inputText value="{!businessAddress}" id="bStreetId" styleClass="form-control" /> 
                                                </div>
                                                <div class="form-group-ind">    
                                                    <label>Suburb / Town *</label>                              
                                                    <apex:inputText value="{!businessSuburb}" id="bSuburbId" styleClass="form-control"/> 
                                                </div>
                                                <div class="form-group-ind">    
                                                    <label>State *</label>                              
                                                    <apex:inputText value="{!businessState}" id="ownerStateId" styleClass="form-control"/> 
                                                </div>
                                                <div class="form-group-ind">  
                                                    <label>Postcode *</label>                                     
                                                    <apex:inputText value="{!businessPostCode}" id="ownerPostCodeId" styleClass="form-control"/> 
                                                </div>
                                                <div class="form-group-ind">  
                                                    <label>Country *</label>                                     
                                                    <apex:inputText value="{!businessCountry}" id="ownerCountryId" styleClass="form-control" /> 
                                                </div>
                                                
                                                <div id="output">
                                                    <p id="error"></p>
                                                    <apex:outputText value="{!indAdressStr}" id="indAddressStr"/>
                                                    <ind_address></ind_address>
                                    
                                                    <!-- STEP 3: Include reset search button (allow reset in override and unverified situations) -->
                                                    <input name="reset_ind" type="button" value="{!$Label.Address_Search}" style="display:none" />
                                                </div>
                                            </apex:outputPanel>
                                            <!-- Individual Owner Right Column End -->

                                            <!-- Business Owner Right Column Start -->
                                            <apex:outputPanel id="propBusinessOwnerPanelRightColId" rendered="{!IF(seletecOwnerType=='Organisation',true,false)}">
                                                <script>
                                                    initOrgAddress();
                                                </script>
                                                <div class="search-org">
                                                    <label>Organisation Owner Address *</label><br/>
                                                    <input type="text" name="org_address_search" placeholder="" autocomplete="off" class="form-control" size="40"/>
                                                </div>     
                                                <div class="form-group-org">
                                                    <label>Business Street *</label>
                                                    <apex:inputText value="{!businessAddress}" id="busAddress" styleClass="form-control"/> 
                                                </div>  
                                                
                                                <div class="form-group-org">
                                                    <label>Business Suburb/Town *</label>
                                                    <apex:inputText value="{!businessSuburb}" id="busSuburb" styleClass="form-control"/> 
                                                </div>          

                                                <div class="form-group-org">
                                                    <label>Business State *</label>
                                                    <apex:inputText value="{!businessState}" id="busState" styleClass="form-control"/>   
                                                </div>          

                                                <div class="form-group-org">
                                                    <label>Business Postcode *</label>
                                                    <apex:inputText value="{!businessPostCode}" id="busPostCode" styleClass="form-control"/>    
                                                </div>  
                                                <div class="form-group-org">
                                                    <label>Business country *</label>
                                                    <apex:inputText value="{!businessCountry}" id="busCountry" styleClass="form-control"/>    
                                                </div>  
                                                
                                                <div id="output">
                                                    <p id="error"></p>
                                                    <apex:outputText value="{!orgAdressStr}" id="orgAdressStr"/>
                                                    <org_address></org_address>
                                    
                                                    <!-- STEP 3: Include reset search button (allow reset in override and unverified situations) -->
                                                    <input name="reset_org" type="button" value="{!$Label.Address_Search}" style="display:none" />
                                                </div>
	                                            <div class="form-group">  
	                                                <label>Email *</label>                                     
	                                                <apex:inputText value="{!email}" id="orgOwnerEmailId" styleClass="form-control"/> 
	                                            </div>
                                            </apex:outputPanel>
                                            <!-- Business Owner Right Column End -->
                                        </div>
                                        <!-- Property Owner Right Column End -->
                                    </apex:actionRegion>
                                </apex:outputPanel>
                                <!-- Property Owner Input Panel End -->
                                <apex:outputPanel id="addOwnerBtnPanel">
                                    <div class="row pull-right">
                                        <br/><apex:commandButton id="addOwnerBtn" action="{!addOwner}" value="Save Owner" 
                                                rendered="{!IF(seletecOwnerType !='Speculative',true,false)}" 
                                                reRender="ownerResultPanel,noOwnerTypeSelected,noMandatorySelected,pMessagesId" 
                                                styleClass="btn btn-primary pagebtn" 
                                                oncomplete="if({!!emailFlag && !incompleteMandatoryOption && !duplicatePropertyOwnerFound &&
                                                !abnCheckfailed && !acnCheckfailed && !postCodeCheck && !fNameTooLong && !lNameTooLong && !businessNameTooLong} ){rerenderAll();}" />
                                    </div>
                                </apex:outputPanel>
                                <!-- Owner Result Panel Start -->
                                <apex:actionFunction name="rerenderAll"  reRender="
                                ownerInputPanel,ownerResultPanel,noOwnerTypeSelected,noMandatorySelected,pMessage" />
                                <apex:outputPanel id="ownerResultPanel">
                                    <br/><br/><br/><br/><br/><br/>
                                    <div class="row col-md-12">
                                        <!-- Individual Owner Details Start -->
                                        <apex:outputPanel id="indOwnerResultPanel">
                                            <apex:outputPanel rendered="{!IndividualFlag}" id="indOwnerResultRenderPanel">
                                                <h2>Individual Owners</h2>
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <td>Action</td>
                                                            <td>First Name</td>
                                                            <td>Last Name</td>
                                                            <td>Email</td>
                                                            <td>Address</td>
                                                        </tr>
                                                        <apex:variable value="{!0}" var="cntIndividual"/>
                                                        <apex:repeat var="propertyOwner" value="{!propertyOwnerWrapperList}" id="propOwnerRepeat">
                                                            
                                                            <tr>
                                                                <td>
                                                                    <apex:commandlink id="removeIndOwner" value="Remove" action="{!removeIndividualOwner}" immediate="true" reRender="ownerResultPanel" status="removeIndOwnerStatus">
                                                                        <apex:param name="indexIndividual" value="{!cntIndividual}"/>
                                                                    </apex:commandlink>
                                                                    <apex:actionStatus id="removeIndOwnerStatus" style="margin-left:-100%">
                                                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                                                    </apex:actionStatus>  
                                                                    <apex:variable var="cntIndividual" value="{!cntIndividual+1}"/>              
                                                                </td>
                                                                <td><apex:outputText value="{!propertyOwner.fName}"/></td>
                                                                <td><apex:outputText value="{!propertyOwner.lName}"/></td>
                                                                <td><apex:outputText value="{!propertyOwner.emailstr}"/></td>
                                                                <td><apex:outputText value="{!propertyOwner.businessAddressStr},{!propertyOwner.businessSuburbStr},{!propertyOwner.businessStateStr},{!propertyOwner.businessPostCodeStr},{!propertyOwner.businessCountryStr}"/></td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </table>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <!-- Individual Owner Details End -->

                                        <!-- Business Owner Details Start -->
                                        <apex:outputPanel id="busOwnerResultPanel">
                                            <apex:outputPanel rendered="{!organisationFlag}" id="busOwnerRenderPanel">
                                                <h2>Other Owners</h2>
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <td>Action</td>
                                                            <td>Organisation Name</td>
                                                            <td>ABN</td>
                                                            <td>ACN</td>
                                                            <td>Email</td>
                                                            <td>Address</td>
                                                        </tr>
                                                        <apex:variable value="{!0}" var="cntOther"/>
                                                        <apex:repeat var="otherOwner" value="{!otherOwnerList}" id="otherOwnerRepeat">
                                                            <tr>
                                                                <td>
                                                                    <apex:commandlink id="removeOtherOwnerLink" value="Remove" action="{!removeOtherOwner}" immediate="true" reRender="busOwnerResultPanel" status="removeBusOwnerStatus">
                                                                        <apex:param name="indexOther" value="{!cntOther}"/>
                                                                    </apex:commandlink>
                                                                    <apex:actionStatus id="removeBusOwnerStatus" style="margin-left:-100%">
                                                                        <apex:facet name="start"><apex:image value="/img/loading.gif" title="Loading..."/></apex:facet>
                                                                    </apex:actionStatus> 
                                                                    <apex:variable var="cntOther" value="{!cntOther+1}"/>              
                                                                </td>
                                                                <td><apex:outputText value="{!otherOwner.name}"/></td>
                                                                <td><apex:outputText value="{!otherOwner.abnStr}"/></td>
                                                                <td><apex:outputText value="{!otherOwner.acnStr}"/></td>
                                                                <td><apex:outputText value="{!otherOwner.primaryEmail}"/></td>
                                                                <td><apex:outputText value="{!otherOwner.businessAddressStr},{!otherOwner.businessSuburbStr},{!otherOwner.businessStateStr},{!otherOwner.businessPostCodeStr},{!otherOwner.businessCountryStr}"/></td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </table>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <!-- Business Owner Details End -->
                                    </div>
                                </apex:outputPanel>
                                <!-- Owner Result Panel End -->
                            </apex:outputPanel>
                            <!-- Single Owner section Ends -->

                            
                        </div>
                        <br/>
                    </apex:outputPanel>
                </apex:outputPanel>
                <!-- Owner Details End -->

                <!-- Review & Upload Button Start -->
                <div class="row container-sections">
                    <!-- <apex:pageMessages id="pMessage"/> -->
                    <div class=" row pull-right">
                        <apex:commandButton value="Return Home" id="returnHomeId" action="{!returnHome}" styleClass="btn btn-primary pagebtn"/> 
                        <apex:commandButton value="Review and Upload Document" id="uploadButton" action="{!reviewAndConfirm}" styleClass="btn btn-primary pagebtn"/>
                    </div>
                </div>
                <!-- Review & Upload Button End -->
            </apex:form>

            <footer>
                <c:IncludeFooter />
            </footer>
        </div>

        <!-- Custom script starts -->
        
        <script src="/soap/ajax/39.0/connection.js" type="text/javascript"></script>
        
        <script src="{!$Resource.JQuery_Min_JS}"></script>
        <!-- <script src="{!$Resource.EDQ_XDR}"></script>
        <script src="{!$Resource.EDQ_Validate_UI_JS_2}"></script> -->
        <script src="{!$Resource.EDQ_Validate_UI_Min_JS}"></script>
        <script src="{!$Resource.EDQ_Token_JS}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{!URLFOR($Resource.BootstrapDatePicker,'js/bootstrap-datepicker.min.js')}"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <script type="text/javascript">
            sforce.connection.sessionId = "{!$Api.Session_ID}";
            jQuery.support.cors = true;

            $(document).ready(function(){
                

                initPropertyAddress();
                initOrgAddress();
                initIndAddress();
                // set custom date picker for fields
                $('input[id$=contractDateId]').datepicker({format: "dd/mm/yyyy",todayHighlight : true, autoclose : true});
                $('input[id$=estStartDateId]').datepicker({format: "dd/mm/yyyy",todayHighlight : true, autoclose : true});
                $('input[id$=estEndDateId]').datepicker({format: "dd/mm/yyyy",todayHighlight : true, autoclose : true});

                setPropertyFocus(); // set focus to property panel

                $('img[id$="categoryInfo"]').tooltip({title: "<div><span style=\"float:left;\">A structural element is any internal or external load-bearing component of a building that is essential to the stability of the building or any part of it, including (but not limited to) foundations, floors, walls, roofs, columns and beams; or any component (including waterproofing) that forms part of the external walls or roof of the building.A non-structural element of the building or a defect that is in a structural element of the building but which does not cause physical damage to any part of the building and is not likely to result in imminent collapse and does not render the building unsuitable for occupation.</span> <br/><br/><br/><table border=\"1\" align=\"center\"><tr><th align=\"center\">STRUCTURAL examples</th><th align=\"center\">NON STRUCTURAL examples</th></tr><tr><td>Decking</td><td>Cabinet joinery (separate contracts) </td></tr><tr></tr><tr><td>Roof installation</td><td>Wardrobe fit-out</td></tr><tr><td>Pergolas (if Building Permit is required)</td><td>Painting </td></tr><tr><td>Tuck Pointing </td><td>Plastering </td></tr><tr><td>Fencing </td><td>Hardware Installation </td></tr><tr><td>Retaining Walls</td><td>Carpeting</td></tr><tr><td>Patio </td><td>Tiling </td></tr><tr><td>Bathrooms -working wet areas</td><td></td></tr><tr><td>Kitchens-working wet areas</td><td></td></tr><tr><td>Balcony </td><td></td></tr><tr><td>Rewiring </td><td></td></tr><tr><td>Electrical </td><td></td></tr><tr><td>Brickwork </td><td></td></tr></table></div>" , html: true, placement: "left"});

                /*$('img[id$=takeOverInfo]').each(function(){
                    $(this).on('click',function(){
                        alert('Select \'Yes\' if this is a takeover project');
                        console.log(this);
                        console.log(this.id);
                    });
                });
                $('img[id$=categoryInfo]').each(function(){
                    $(this).on('click',function(){
                        alert('Select Multi-Dwelling Construction if there are three or more properties on the same building contract');
                        console.log(this);
                        console.log(this.id);
                    });
                });
                $('img[id$=propInfo]').each(function(){
                    $(this).on('click',function(){
                        alert('Multi-Dwelling Construction applications will be referred for review if there are four or more properties on the same building contract');
                        console.log(this);
                        console.log(this.id);
                    });
                });
                $('img[id$=propValInfo]').each(function(){
                    $(this).on('click',function(){
                        alert('Contract value includes GST and any variations');
                        console.log(this);
                        console.log(this.id);
                    });
                });
                $('img[id$=contractDateInfo]').each(function(){
                    $(this).on('click',function(){
                        alert('The date the contract was signed. If a contract hasn\'t been signed, please indicate an estimated date this will occur');
                        console.log(this);
                        console.log(this.id);
                    });
                });*/

            });

            function setPropertyFocus(){
                var setFocus = '{!JSINHTMLENCODE($CurrentPage.parameters.setPropertyFocus)}';
                var propIndex = '{!JSINHTMLENCODE($CurrentPage.parameters.propertyIndex)}';
                console.log(setFocus);
                console.log(propIndex);
                if(setFocus == 'true'){
                    console.log($("[id$='coiFormId:repeatProperty']"));
                    toggleContactRow('page:coiFormId:repeatProperty:'+propIndex);
                    console.log('** Setting focus **');
                    $('#propertyDiv').attr('tabindex',-1).focus();
                }
            }
     
            function toggleContactRow(rowId) {
                try {
                    console.log('** rowId ==>'+ rowId);
                    var AccountImg = jQuery(document.getElementById(rowId + ":Img"));
                    var ContactsRow = jQuery(document.getElementById(rowId + ":PropertyOwner"));
                    var otherOwnerRow = jQuery(document.getElementById(rowId + ":PropertyOtherOwner"));
                    console.log('** AccountImg ==>'+ JSON.stringify(AccountImg));
                    console.log('** ContactsRow ==>'+ JSON.stringify(ContactsRow));
                    console.log('** otherOwnerRow ==>'+ JSON.stringify(otherOwnerRow));
                    if (AccountImg.hasClass("hideContacts")) {
                        console.log('** Inside IF **');
                        AccountImg.attr("class", "showContacts");
                        ContactsRow.hide();
                        otherOwnerRow.hide();
                    }
                    else {
                        console.log('** Inside Else ==>');
                        AccountImg.attr("class", "hideContacts");
                        ContactsRow.show();
                        otherOwnerRow.show();
                    }
                }
                catch (e) { alert(e); }
            }

            /** Experian Code Starts **/

       
            // process property address validation
            function initPropertyAddress() {
                console.log('** Initializing Propery Search ==>');

                // Selector for search field and container.
                var searchContainerSelector = '.search-property';
                var searchFieldSelector = "input[name='property_address_search']";
        
                // Selector for original address fields.
                var originalContainer = '.form-group-property';
                var address1FieldSelector = "input[name='page:coiFormId:streetId']";
                var addressLocalityFieldSelector = "input[name='page:coiFormId:suburbId']";
                var addressStateFieldSelector = "input[name='page:coiFormId:stateId']";
                var addressPostcodeFieldSelector = "input[name='page:coiFormId:postCodeId']";
        
                // Selector for reset button field.
                var resetButtonSelector = 'input[name="reset_property"]';
        
                // Selector for read only display of verified address.
                var readOnlyAddressSelector = 'property_address';
        
                // Selector for read only display of verified address.
                var errorSelector = '#error';

                // Address Capture options and initialization
                var address = new ContactDataServices.address({
                    layout: 'IntuitiveDefault',
                    elements: {
                        input: $(searchFieldSelector)[0],
                        // Hard-coded country if only single ountry supported.
                        countryList: {
                            value: 'AUE'
                        }
                    },
                    resultMapping: [{
                        selector: address1FieldSelector,
                        format: '{{addressLine1}} {{addressLine2}} {{addressLine3}}'
                    }, {
                        selector: addressLocalityFieldSelector,
                        format: '{{locality}}'
                    }, {
                        selector: addressStateFieldSelector,
                        format: '{{province}}'
                    }, {
                        selector: addressPostcodeFieldSelector,
                        format: '{{postalCode}}'
                    }, {
                        selector: readOnlyAddressSelector,
                        format: '{{addressLine1}}, {{addressLine2}} {{addressLine3}}, {{locality}} {{province}} {{postalCode}}<br/>'
                    }],
                    token: EDQ.sample.token
                });
        
                // Attach reset button to reset verified state.
                // And initialize to verified state.
                // 1. read-only addresses shown.
                // 2. search field shown.
                // 3. manual address fields hidden.
                // 4. reset search button hidden.
                $(resetButtonSelector)
                    .click(function showVerifiedState() {
                        $(readOnlyAddressSelector).html('').show();
                        $(searchContainerSelector).show().focus();
        
                        $(originalContainer).hide();
                        $(resetButtonSelector).hide(); 
                    })
                    .click();
        
                // Reset controls to be displayed in unverified flow.
                // 1. read-only addresses hidden.
                // 2. search field hidden.
                // 3. manual address fields shown.
                // 4. reset search button shown.
                function showUnverifiedState(searchTextValue) {
                    $(readOnlyAddressSelector).html('').hide();
                    $(searchContainerSelector).hide();
        
                    $(originalContainer).show();
                    $(resetButtonSelector).show();
                }
        
                // Attach event on picklist "override" clicked.
                address.events.on("post-picklist-selection", function(item) {
                    if (item.getAttribute('override')) {
                        showUnverifiedState(item.suggestion || '');
                    }
                });
                
                // when user select an address from the Experian dropdown list, call the controller method to pass the Property info
                address.events.on("post-formatting-search", function(item) {            
                    var street = item.address[0].addressLine1 + ' ' + item.address[1].addressLine2 + ' ' + item.address[2].addressLine3;
                    var suburb = item.address[3].locality;
                    var state = item.address[4].province;
                    var postalCode = item.address[5].postalCode;            
                    
                    console.log('** item after format ==>'+ JSON.stringify(item));
                    console.log('** street ==>'+ street);
                    console.log('** suburb ==>'+ suburb);
                    console.log('** state ==>'+ state);
                    console.log('** postalCode ==>'+ postalCode);
                    
                    $('span[id$="coiFormId:addresStr"]').hide();
                    sendDataToController(street,suburb,state,postalCode);

                    
                });
        
                // Attach event to show error.
                address.events.on("request-error", function(e) {
                    showUnverifiedState($(searchFieldSelector).val());
                });
            }
            
            // process organization owner address validation
            function initOrgAddress() { 
                console.log('** Initializing Organisation Address Search ==>');

                // Selector for search field and container.
                var searchContainerSelector = '.search-org';
                var searchFieldSelector = "input[name='org_address_search']";
        
                // Selector for original address fields.
                var originalContainer = '.form-group-org';
                var address1FieldSelector = "input[name='page:coiFormId:busAddress']";
                var addressLocalityFieldSelector = "input[name='page:coiFormId:busSuburb']";
                var addressStateFieldSelector = "input[name='page:coiFormId:busState']";
                var addressPostcodeFieldSelector = "input[name='page:coiFormId:busPostCode']";
                var addressCountryFieldSelector = "input[name='page:coiFormId:busCountry']";
        
                // Selector for reset button field.
                var resetButtonSelector = 'input[name="reset_org"]';
        
                // Selector for read only display of verified address.
                var readOnlyAddressSelector = 'org_address';
        
                // Selector for read only display of verified address.
                var errorSelector = '#error';
        
                // Address Capture options and initialization
                var address = new ContactDataServices.address({
                    layout: 'IntuitiveDefault',
                    elements: {
                        input: $(searchFieldSelector)[0],
                        // Hard-coded country if only single ountry supported.
                        countryList: {
                            value: 'AUE'
                        }
                    },
                    resultMapping: [{
                        selector: address1FieldSelector,
                        format: '{{addressLine1}} {{addressLine2}} {{addressLine3}}'
                    }, {
                        selector: addressLocalityFieldSelector,
                        format: '{{locality}}'
                    }, {
                        selector: addressStateFieldSelector,
                        format: '{{province}}'
                    }, {
                        selector: addressPostcodeFieldSelector,
                        format: '{{postalCode}}'
                    }, {
                        selector: addressCountryFieldSelector,
                        format: '{{country}}'
                    }, {
                        selector: readOnlyAddressSelector,
                        format: '{{addressLine1}}, {{addressLine2}} {{addressLine3}}, {{locality}} {{province}} {{postalCode}}, {{country}}<br/>'
                    }],
                    token: EDQ.sample.token
                });
        
                // Attach reset button to reset verified state.
                // And initialize to verified state.
                // 1. read-only addresses shown.
                // 2. search field shown.
                // 3. manual address fields hidden.
                // 4. reset search button hidden.
                $(resetButtonSelector)
                    .click(function showVerifiedState() {
                        $(readOnlyAddressSelector).html('').show();
                        $(searchContainerSelector).show().focus();
        
                        $(originalContainer).hide();
                        $(resetButtonSelector).hide();
                    })
                    .click();
        
                // Reset controls to be displayed in unverified flow.
                // 1. read-only addresses hidden.
                // 2. search field hidden.
                // 3. manual address fields shown.
                // 4. reset search button shown.
                function showUnverifiedState(searchTextValue) {
                    $(readOnlyAddressSelector).html('').hide();
                    $(searchContainerSelector).hide();
        
                    $(originalContainer).show();
                    $(resetButtonSelector).show();
                }
        
                // Attach event on picklist "override" clicked.
                address.events.on("post-picklist-selection", function(item) {
                    if (item.getAttribute('override')) {
                        showUnverifiedState(item.suggestion || '');
                    }
                });

                address.events.on("post-formatting-search", function(item) {            
                    var street = item.address[0].addressLine1 + ' ' + item.address[1].addressLine2 + ' ' + item.address[2].addressLine3;
                    var suburb = item.address[3].locality;
                    var state = item.address[4].province;
                    var postalCode = item.address[5].postalCode;            
                    
                    console.log('** item after format ==>'+ JSON.stringify(item));
                    console.log('** street ==>'+ street);
                    console.log('** suburb ==>'+ suburb);
                    console.log('** state ==>'+ state);
                    console.log('** postalCode ==>'+ postalCode);
                    
                    $('span[id$="coiFormId:orgAdressStr"]').hide();
                });
        
                // Attach event to show error.
                address.events.on("request-error", function(e) {
                    showUnverifiedState($(searchFieldSelectorOrg).val());
                });
            }
            
            // process individual owner address validation
            function initIndAddress() { 
                console.log('** Initializing Individual Address Search ==>');               
                // Selector for search field and container.
                var searchContainerSelector = '.search-ind';
                var searchFieldSelector = "input[name='ind_address_search']";
        
                // Selector for original address fields.
                var originalContainer = '.form-group-ind';
                var address1FieldSelector = "input[name='page:coiFormId:bStreetId']";
                //var address2FieldSelector = "input[name='page:coiFormId:bStreetId']";
                var addressLocalityFieldSelector = "input[name='page:coiFormId:bSuburbId']";
                var addressStateFieldSelector = "input[name='page:coiFormId:ownerStateId']";
                var addressPostcodeFieldSelector = "input[name='page:coiFormId:ownerPostCodeId']";
                var addressCountryFieldSelector = "input[name='page:coiFormId:ownerCountryId']";
        
                // Selector for reset button field.
                var resetButtonSelector = 'input[name="reset_ind"]';
        
                // Selector for read only display of verified address.
                var readOnlyAddressSelector = 'ind_address';
        
                // Selector for read only display of verified address.
                var errorSelector = '#error';
        
                // Address Capture options and initialization
                var address = new ContactDataServices.address({
                    layout: 'IntuitiveDefault',
                    elements: {
                        input: $(searchFieldSelector)[0],
                        // Hard-coded country if only single ountry supported.
                        countryList: {
                            value: 'AUE'
                        }
                    },
                    resultMapping: [{
                        selector: address1FieldSelector,
                        format: '{{addressLine1}}, {{addressLine2}} {{addressLine3}}'
                    }, {
                        selector: addressLocalityFieldSelector,
                        format: '{{locality}}'
                    }, {
                        selector: addressStateFieldSelector,
                        format: '{{province}}'
                    }, {
                        selector: addressPostcodeFieldSelector,
                        format: '{{postalCode}}'
                    }, {
                        selector: addressCountryFieldSelector,
                        format: '{{country}}'
                    }, {
                        selector: readOnlyAddressSelector,
                        format: '{{addressLine1}}, {{addressLine2}} {{addressLine3}}, {{locality}} {{province}} {{postalCode}}, {{country}}<br/>'
                    }],
                    token: EDQ.sample.token
                });
        
                // Attach reset button to reset verified state.
                // And initialize to verified state.
                // 1. read-only addresses shown.
                // 2. search field shown.
                // 3. manual address fields hidden.
                // 4. reset search button hidden.
                $(resetButtonSelector)
                    .click(function showVerifiedState() {
                        $(readOnlyAddressSelector).html('').show();
                        $(searchContainerSelector).show().focus();
        
                        $(originalContainer).hide();
                        $(resetButtonSelector).hide();
                    })
                    .click();
        
                // Reset controls to be displayed in unverified flow.
                // 1. read-only addresses hidden.
                // 2. search field hidden.
                // 3. manual address fields shown.
                // 4. reset search button shown.
                function showUnverifiedState(searchTextValue) {
                    $(readOnlyAddressSelector).html('').hide();
                    $(searchContainerSelector).hide();
        
                    $(originalContainer).show();
                    $(resetButtonSelector).show();
                }
        
                // Attach event on picklist "override" clicked.
                address.events.on("post-picklist-selection", function(item) {
                    if (item.getAttribute('override')) {
                        showUnverifiedState(item.suggestion || '');
                    }
                });

                address.events.on("post-formatting-search", function(item) {            
                    var street = item.address[0].addressLine1 + ' ' + item.address[1].addressLine2 + ' ' + item.address[2].addressLine3;
                    var suburb = item.address[3].locality;
                    var state = item.address[4].province;
                    var postalCode = item.address[5].postalCode;            
                    
                    console.log('** item after format ==>'+ JSON.stringify(item));
                    console.log('** street ==>'+ street);
                    console.log('** suburb ==>'+ suburb);
                    console.log('** state ==>'+ state);
                    console.log('** postalCode ==>'+ postalCode);
                    
                    $('span[id$="coiFormId:indAddressStr"]').hide();
                });
        
                // Attach event to show error.
                address.events.on("request-error", function(e) {
                    showUnverifiedState($(searchFieldSelectorOrg).val());
                });
            }
            
           
            
            // reinit the property address search part when user select category -- not sure why need this.
            function propertyInsuredCheck_JS() {
                initPropertyAddress();
                propertyInsuredCheck();
            }
              
            //rerender Property address part if user change the Number of Properties insured
            function propertyInsuredCheckForMulti_JS() {
                initPropertyAddress();
                propertyInsuredCheckForMulti();
            }
            
            /** Experian Code Ends **/ 
        </script>
    </body>
    <!-- Form Body Ends -->

    
</apex:page>