<apex:page doctype="html-5.0" controller="CommonDirectorLandingController"  showheader="false" sidebar="false" docType="html-5.0" title="VMIA | Accounts" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false">
  <head>
        <c:IncludeAssets />
    </head>

    <style>
        .pagebtn {
            background: rgba(7, 49, 99, 1);
            color: white;
            width: 250px;
            height: 50px;
            white-space: normal;
        }
        
        .pagebtn:hover {
            background-color: #00ADE7;
            color: #fff;
        }
        
        .menu {
            padding-bottom: 0;
        }
    </style>

    <body>
    <div class="container">
        <header>
           <c:IncludeHeader />
        </header>

        <!-- Builders table -->
            <div class="tableNames">
                <div class="row">
                    <div class="pull-left">
                        <h2>My Builders</h2>
                    </div>
                   <!-- <div class="pull-right recordCount"  >Builders : {!builderCount}
                    </div>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Builder Status</th>
                        <th>Available/Total Construction Limit</th>
                        <th>Distributor</th>
                        <th>No. of Certs in Cart</th>
                    </tr>
                    <apex:repeat var="b" value="{!builderList}">
                        <tr>
                            <td><apex:outputLink value="/apex/BuilderLandingPage?id={!b.Account__c}" styleclass="outputlink">{!b.Account__r.Name}</apex:outputLink>
                            </td>
                            <td><apex:outputText value="{!b.Account__r.Eligibility_Status__c}, {!b.Account__r.Builder_Eligibility_Status_Reason__c}"/></td>
                            <td>
                                <apex:outputText value="{0, number, $ ###,###,###,###,###,###}" rendered="{!IF(b.Account__r != null, b.Account__r.AvailableConstructionLimit__c >=0, false) }">
                                    <apex:param value="{!b.Account__r.AvailableConstructionLimit__c}" />
                                </apex:outputText>  
                                <apex:outputText value="$0" rendered="{!IF(b.Account__r != null, b.Account__r.AvailableConstructionLimit__c < 0, false) }">
                                    <apex:param value="{!b.Account__r.AvailableConstructionLimit__c}" />
                                </apex:outputText> / 

                                <apex:outputText value="{0, number, $ ###,###,###,###,###,###}">
                                    <apex:param value="{!b.Account__r.Construction_Limit__c}" />
                                </apex:outputText>
                            </td>
                            <td><apex:outputText value="{!b.Account__r.Agent__r.Name}"/></td>
                            <td><apex:outputText value="{!numberOfCertsInCart[b.Account__c]}"/></td>
                        </tr>
                    </apex:repeat>
                </table>
                <div align="center">
                    <a  class="viewall" href="/searchbuilder">Click here to view all Builders...</a>
                </div>
            </div>

            <hr class="line"/>
            
            <!-- Certifications table -->
            <div class="tableNames">
                <div class="row">
                    <div class="pull-left">
                        <h2>Certificates Issued This Week</h2>
                    </div>
                    <div class="pull-right recordCount" >Certificates Issued This Week : {!certificateCount}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Certificate No.</th>
                        <th>Builder</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Value</th>
                        
                    </tr>
                    <apex:form >
                        <apex:repeat var="c" value="{!cList}">
                            <tr>
                                <td>
                                <apex:outputPanel rendered="{!if(c.Status__c != 'Awaiting Payment' && c.Status__c != 'Referred', true, false)}">
                                    <apex:outputLink value="RequestAmendCOI?id={!c.id}" styleclass="outputlink"> {!c.Policy_Number__c} </apex:outputLink>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!if(c.Status__c == 'Awaiting Payment' || c.Status__c == 'Referred', true, false)}">
                                    <apex:outputLink value="RequestAmendCOI?id={!c.id}" styleclass="outputlink"> {!c.Name} </apex:outputLink>
                                </apex:outputPanel>
                                </td>
                                <td>{!c.builder__r.name}</td>
                                <td>{!c.Property_Address__c}</td>
                                
                                <td>{!c.Status__c}</td>
                                <td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!c.Contract_Price__c}" /></apex:outputText></td>
                                
                            </tr>
                        </apex:repeat>
                    </apex:form>
                </table>
                <div align="center">
                    <a class="viewall" href="/searchcertificates">Click here to view all Certificates...</a>
                </div>
            </div>

        <footer class="footer">
                <c:IncludeFooter />
        </footer>
    </div>
    </body>
    
</apex:page>