<apex:page doctype="html-5.0" controller="BuilderLandingController" showheader="false" sidebar="false" docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false"> 
    <head>
        <c:IncludeAssets />
    </head>
    <style>
        .pagebtnCards {
            background: rgba(7, 49, 99, 1);
            color: white;
            width: 150px;
            height: 50px;
            white-space: normal;
            margin: 10px;
        }
    </style>
	<body>          
        <div class="container">
            <header>
                <c:IncludeHeader /> 
            </header>
            
            <c:IncludeNavBar />
            <div class="row col-md-12 details container-sections">
	            <h2 align="center">Eligibility details</h2>
	            <apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c != 'Under Application', true, false)}">
	             <div class="col-md-6">
	                 <dl>
	                     <dt>Builder Status</dt>
	                     <dd class="description">{!builderRecord.Eligibility_Status__c}</dd>
	                     <dt>Available Limit</dt>
	                     <dd class="description"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!builderRecord.AvailableConstructionLimit__c}" /></apex:outputText></dd>
	                 </dl>
	             </div>
	             <div class="col-md-6">
	                 <dl>
	                     <dt>Risk Score</dt>
	                     <dd class="description">{!builderRecord.Builder_Risk_Rating__c}</dd>
	                     <dt>Total Limit</dt>
	                     <dd class="description"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!builderRecord.Construction_Limit__c}" /></apex:outputText></dd>
	                 </dl>
	             </div>
	             <div class="col-md-12">
	             	<div class="table-responsive">
	             		<table class="table table-hover">
	             			<tr>
	             				<th>Category</th>
	             				<th>Limit</th>
	             				<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
	             					<th>Flat Rate</th>
	             				</apex:outputPanel>
	             			</tr>
	             			<apex:repeat var="cat" value="{!categories}">
	             				<tr>
	             					<td width="50%">{!cat.catName}</td>
	             					<td width="25%"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!cat.catLimit}" /></apex:outputText></td>
	             					<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
	             						<td width="25%"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!cat.catPremium}" /></apex:outputText></td>
	             					</apex:outputPanel>
	             				</tr>
	             			</apex:repeat>
	             		</table>
	             	</div>
	             </div>
	 			<div class="col-md-6">
	 				<dl>
	 					<dt>Next Review Date</dt>
	                        <apex:outputPanel >
		                        <dd>
		                        	TBA
		                        </dd>
	                        </apex:outputPanel>
	 				</dl>
	             </div>
	 			<div class="col-md-6">
	 				<dl>
	 					<dt></dt>
	 					<dd></dd>
	 				</dl>
	             </div>
	            
	           		<div class="col-md-12">
	            		<label>Eligibility Conditions</label><br/>
	            		<div class="table-responsive">
	            			<table class="table table-hover">
	            				<apex:repeat value="{!eligibilityCondtions}" var="con">
	             				<tr>
	             					<apex:outputPanel rendered="{!if(con != 'Other',true,false)}">
	             						<td><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{!con}</td>
	             					</apex:outputPanel>
	             				</tr>
	            				</apex:repeat>
	            					<tr>
	            						<apex:outputPanel rendered="{!if(builderRecord.Other_Terms__c != NULL, true, false)}">
	                 		<td><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;<apex:outputText value="{!builderRecord.Other_Terms__c}"/></td>
	                 	</apex:outputPanel>
	            					</tr>
	            			</table>
	            		</div>
	            	</div>
	         	
	     	</apex:outputPanel>
	     	
	     	<apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Under Application', true, false)}">
	     		<div class="row col-md-12" align="center">
	     			<h4>Status : Pending LOE</h4>
	     			<br/>
	     			<apex:image url="{!URLfor($Resource.VMIAResources,'VMIAResources/images/Pending_LOE.png')}" alt="Pending" height="50%" width="50%"/>
	     		</div>
	     	</apex:outputPanel>
	     	
	    		<apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c != 'Under Application', true, false)}">
	     			<div class="row col-md-12" align="center">
	     				<br/><br/>
	    				<apex:outputlink styleClass="btn btn-primary pagebtnCards" value="/Generate_LOE?id={!builderRecord.Id}" target="_blank"><span class="glyphicon glyphicon-print" style="padding:10px;"></span> Print</apex:outputlink>
	    				<br/><br/>
	    			</div>
	   			</apex:outputPanel>
	   			
	   			<apex:outputPanel rendered="{!if(builderRecord.Eligibility_Status__c == 'Under Application', true, false)}">
	    			<div class="row col-md-12" align="center">
	    				<br/><br/><br/>
	    				<apex:outputlink styleClass="btn btn-primary pagebtnCards" value="/ZZTestVF"><span class="glyphicon glyphicon-print" style="padding:10px;"></span> Print</apex:outputlink>
	    				<br/><br/>
	    			</div>
	   			</apex:outputPanel>
			</div>
			&nbsp;<br/><br/>
			<apex:variable value="{!0}" var="cnt"/>
			<apex:repeat value="{!builderRecord.Eligibility_Histories__r}" var="e">
				<apex:variable var="cnt" value="{!cnt}"/>
				<apex:variable var="cnt1" value="{!builderRecord.Eligibility_Histories__r.size - cnt}"/>
				<div class="row col-md-12 details container-sections">
					<div class="col-md-6 container-sections" style="background-color:rgba(169, 220, 27, 1);color:white;">
						<div class="col-md-6">
							<dl>	
								<dt>Version Number</dt>
								<dd>{!cnt1}</dd>
							</dl>
						</div>
						<div class="col-md-6">
							<dl>	
								<dt>Updated By</dt>
								<dd>{!e.LastModifiedBy.Name}</dd>
							</dl>
						</div>
					</div>
					<div class="col-md-6 container-sections"  style="background-color:rgba(169, 220, 27, 1);color:white;">
						<div class="col-md-6">
							<dl>
								<dt>Eligibility Issued</dt>
								<dd><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!e.Eligibility_Commencement_Date__c}" /></apex:outputText></dd>
							</dl>
						</div>
						<div class="col-md-6">
							<dl>
								<dt>Eligibility Updated</dt>
								<dd><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!e.Eligibility_Expiry_Date__c}" /></apex:outputText></dd>
							</dl>
						</div>
					</div>
					<div class="col-md-6">
						<dl>
							<dt>Builder Status</dt>
							<dd class="description">{!e.Eligibility_Status__c}</dd>
							<dt></dt>
							<dd></dd>
						</dl>
					</div>
					<div class="col-md-6">
						<dl>
							<dt>Risk Score</dt>
							<dd class="description">{!e.Builder_Risk_Score__c}</dd>
							<dt>Total Limit</dt>
							<dd class="description"><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Construction_Limit__c}" /></apex:outputText></dd>
						</dl>
					</div>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover">
								<tr>
	                   				<th>Category</th>
	                   				<th>Limit</th>
	                   				<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
	                   					<th>Flat Rate</th>
	                   				</apex:outputPanel>
								</tr>
								<apex:outputPanel rendered="{!if(e.Single_Dwelling_Category_Limit__c != NULL || e.Flat_Rate_Premium_C01__c != NULL, true, false)}">
									<tr>
										<td>{!CATEGORY_1}</td>
										<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Single_Dwelling_Category_Limit__c}" /></apex:outputText></td>
										<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
											<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Flat_Rate_Premium_C01__c}" /></apex:outputText></td>
										</apex:outputPanel>
									</tr>
								</apex:outputPanel>
								<apex:outputPanel rendered="{!if(e.Multi_Dwelling_Category_Limit__c != NULL || e.Flat_Rate_Premium_C03__c != NULL, true, false)}">
									<tr>
										<td>{!CATEGORY_3}</td>
										<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Multi_Dwelling_Category_Limit__c}" /></apex:outputText></td>
										<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
											<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Flat_Rate_Premium_C03__c}" /></apex:outputText></td>
										</apex:outputPanel>
									</tr>
								</apex:outputPanel>
								<apex:outputPanel rendered="{!if(e.Structural_Alterations_Category_Limit__c != NULL || e.Flat_Rate_Premium_C04__c != NULL, true, false)}">
									<tr>
										<td>{!CATEGORY_4}</td>
										<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Structural_Alterations_Category_Limit__c}" /></apex:outputText></td>
										<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
											<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Flat_Rate_Premium_C03__c}" /></apex:outputText></td>
										</apex:outputPanel>
									</tr>
								</apex:outputPanel>
								<apex:outputPanel rendered="{!if(e.Swimming_Pool_Category_Limit__c != NULL || e.Flat_Rate_Premium_C05__c != NULL, true, false)}">
									<tr>
										<td>{!CATEGORY_5}</td>
										<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Swimming_Pool_Category_Limit__c}" /></apex:outputText></td>
										<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
											<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Flat_Rate_Premium_C05__c}" /></apex:outputText></td>
										</apex:outputPanel>
									</tr>
								</apex:outputPanel>
								<apex:outputPanel rendered="{!if(e.Non_Structural_Renovations__c != NULL || e.Flat_Rate_Premium_C06__c != NULL, true, false)}">
									<tr>
										<td>{!CATEGORY_6}</td>
										<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Non_Structural_Renovations__c}" /></apex:outputText></td>
										<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
											<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Flat_Rate_Premium_C06__c}" /></apex:outputText></td>
										</apex:outputPanel>
									</tr>
								</apex:outputPanel>
								<apex:outputPanel rendered="{!if(e.Other_Limits__c != NULL || e.Flat_Rate_Premium_C07__c != NULL, true, false)}">
									<tr>
										<td>{!CATEGORY_7}</td>
										<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Other_Limits__c}" /></apex:outputText></td>
										<apex:outputPanel rendered="{!builderRecord.Flat_Rate_Premium__c}">
											<td><apex:outputText value="{0, number, $ ###,###,###,###,###,###}"><apex:param value="{!e.Flat_Rate_Premium_C07__c}" /></apex:outputText></td>
										</apex:outputPanel>
									</tr>
								</apex:outputPanel>
							</table>
						</div>
					</div>
					
					<div class="col-md-12">
						<div class="col-md-6">
							<dl>
								<dt>Eligibility Conditions</dt>
								<dd><apex:outputText value="{!e.Eligibility_Conditions__c}"/></dd>
							</dl>
						</div>
						<div class="col-md-6">
							<dl>
								<dt>Eligibility Expiry Date</dt>
								<dd><apex:outputText value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!e.Eligibility_Expiry_Date__c}" /></apex:outputText></dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					&nbsp;<br/>&nbsp;
				</div>
				<apex:variable var="cnt" value="{!cnt+1}"/>
			</apex:repeat>
			<br/><br/>
		</div>
        <footer class="footer">
            <c:IncludeFooter />
        </footer>
	</body>
</apex:page>