<apex:page id="ErrorPage" showheader="false" controller="ErrorPageController" sidebar="false" docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false">
  <head>
        <c:IncludeAssets />
    </head>
    
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="/soap/ajax/32.0/connection.js" type="text/javascript"></script>
  
  <script type="text/javascript">
    var __sfdcSessionId = '{!GETSESSIONID()}';
  </script>
  
  <style>
    dt {
      margin-top: 20px;
    }
    
    dd {
      margin-bottom: 20px;
    }
    
    .radio input[type=radio] {
      margin-left: 0;
    }
    
    .radio label {
      margin-bottom: 5px;
    }
  </style>
  
  <body> 
    <div class="container">
    
      <header>
        <c:IncludeHeader />
      </header>
      <div class="row text-center">
    
        <div>
           <h2>Oops.</h2>
        </div>
    
        
        <apex:form id="COIForm">     
          <br></br>
            <h4> <br/> <br/>It looks like you’re trying to access a page that isn’t available.  <br/> <br/>Let’s get you back on track.  </h4>
            <br/>
          <h4 style="font-weight: bold;"> Take me to: </h4>
          <apex:commandButton action="{!home}" value="Home" />
          <br/><br/>
          <h4 style="font-weight: bold;" >We don’t want this to happen again.</h4> <br/><br/><br/>

          <h4> If you reached this page via a <span style="font-weight: bold;"> Bookmark</span>, it’s probably out of date, so please update it. </h4> <br/>
           <h4>If you reached this page via a<span style="font-weight: bold;"> link in our site</span>, we’re really sorry. Please report the broken link to us and tell us where you were when you clicked on the link so we can fix it fast.</h4>

          
          
          <br/>
          <br/>
          <br/>
        </apex:form>
      </div>
    </div>
    <footer class="footer">
      <c:IncludeFooter />
    </footer>
  </body>
 
</apex:page>