<apex:page standardController="Certificate__c" extensions="GenerateCertificateAsPdfController" renderAs="pdf" showHeader="false" applyBodyTag="false"  sidebar="false" standardStylesheets="false" applyHtmlTag="false" action="{!forwardToCustomAuthPage}">
    <head>
        <style type="text/css"> 
            body { }
            .companyName { font: 12px;}  
            .label {font: bold 12px; font-family: 'Century Gothic';}
            header {}
            h2 {font-family: 'Century Gothic'; font: bold 22px; color:Black;}
            footer {background: #aaa;color:black; padding-top:20px; }
            .nav {background:#eee;}
            @page{
                size: 21.0cm 29.7cm;
                margin-top:3cm;
                margin-bottom: 3cm;
                margin-left: 1.5cm;
                margin-right: 1.5cm; 
                
                @top-left{
                    content: element(headerleft);
                    }

                @top-center{
                    content: element(headercenter);
                }
                @top-right{
                    content: element(headerRight);
                }
                @bottom-left{
                    content: element(footerLeft);
                }
                @bottom-center{
                    content: element(footerCenter);
                }
                @bottom-right{
                    content: element(footerRight);
                }
            }
            @font-face {
                font-family: "GOTHIC";
                src: url("{!URLFOR($Resource.GothicFont, 'myfont.tff')}") format('truetype');          
            }
            @font-face {
                font-family: "Varela RR";
                src: local(custom_font), url('{!URLFOR($Resource.VarelaRoundFont)}') format('opentype');
            }

            div.headerleft {
                margin-left: 10px;
                position: running(headerleft);
            }
            div.headerRight {
                margin-right: 10px;
                position: running(headerRight);
            }
            div.headercenter{
                position: running(headercenter);
            }

            div.footerLeft{
                margin-left: 10px;
                font-family:"Varela Round", sans-serif;
                position: running(footerLeft);
            }
            div.footerCenter{
                position: running(footerCenter);
            }
            div.footerRight{
                margin-right: 10px;
                position: running(footerRight);
            }


            .flex-container {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                text-align: center;
            }
            .headertext {
                font-family: "myfont";
                font: 22px;
            }
            .addressText{
                font-size: 12px;
                


            }
            .headertextbold {
                font-family: "Century Gothic",sans-serif;
                font: bold 20px;
                color: #5E5E5E;
            }

            div.header{
                display: block;
                position:running(header);
            }

            .pagenumber:before {

                content: counter(page);
            }

            .pagecount:before {

                content: counter(pages);
            }


            .left {
                overflow: hidden;
                min-height: 50px;
                border: 2px dashed #f0f
            }

            .right {
                float: right;
                width: 250px;
                min-height: 50px;
                margin-left: 10px;
                border: 2px dashed #00f
            }
            .border {
                border: 1px solid #808080;
                padding-top:0;
            }
            .border1 {
                border: 1px solid #808080;
                width:97%;
            }

            div#fixedfooter {
                position:fixed;
                bottom:0px;
                left:0px;
                width:100%;
                color:#99ccff;
                padding:8px;
                font-family: 'Century Gothic';
                font: 12px;
            }
            div.HeadingH1{
                color:#0000FF;
            }
            div.Basic-Text-Frame {
                border-style:solid;
                border-width: 1px;
                width:75%;
                float:left;
                height:100%;
            }
            div.Basic-Text-Frame2 {
                border-style:solid;
                border-width: 1px;
                height: 95px;
                margin-top: 10px;
                padding: 10px;
                margin-bottom: 10px;
                float: bottom;
                clear:both;
                position: relative;

            }
            div.Basic-Text-Frame3 {
                border-style:solid;
                border-width: 1px;
                margin-top: 0px;
                padding: 12px;
                margin-bottom: 10px;
                float: bottom;
                line-height: 1.4;
                font-family:"Varela Round", sans-serif;
                font-size:11px;
                clear:both;
                position: relative;
            }
            .Heading-styles_H1 {
                -epub-hyphens:none;
                color:#0e416b;
                font-family:"Varela Round", sans-serif;
                font-size:26px;
                font-style:normal;
                font-variant:normal;
                font-weight:500;
                line-height:1.2;
                margin-bottom:2px;
                margin-left:0;
                margin-right:0;
                margin-top:0px;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            .Heading-styles_H2 {
                color:#58595b;
                font-family:"Varela RR", sans-serif;
                font-size:20px;
                font-weight:600;
                margin-bottom:0px;
                margin-left:0;
                margin-right:0;
                padding-bottom:20px;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
            }
            .Heading-styles_H3 {
                -epub-hyphens:none;
                color:#41597e;
                font-family:"Varela Round", sans-serif;
                font-size:15px;
                font-style:normal;
                font-variant:normal;
                font-weight:bold;
                line-height:1.2;
                margin-bottom:6px;
                margin-left:10px;
                margin-right:0;
                margin-top:12px;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                white-space: pre-wrap; /* css-3 */    
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */    
                white-space: -o-pre-wrap; /* Opera 7 */    
                word-wrap: break-word; /* Internet Explorer 5.5+ */
            }
            .Heading-styles_H5 {
                -epub-hyphens:none;
                color:#0e416b;
                font-family:"Varela Round", sans-serif;
                font-size:10px;
                font-style:normal;
                font-variant:normal;
                font-weight:800;
                line-height:1.2;
                margin-bottom:3px;
                
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            span.CharOverride-1 {
                color:#00a8e1;
            }
            .address {
                font: 10px; 
                font-weight:500;
                font-family:Varela Round, sans-serif; 
                margin-left: 5px;
                color:#0e416b;

            }
            .Basic-Table {
                border-collapse:collapse;
                border-color:#000000;
                font: 10px;
                font-family:"Varela Round", sans-serif;
                width: 100%;
                padding: 15px;
            }
            .Basic-TableA {
                border-collapse:collapse;
                border-color:#000000;
                font: 10px;
                font-family:"Varela Round", sans-serif;
                padding: 15px;
            }
            .Basic-Table2 {
                border: 1px #000000;
                font: 10px;
                font-family:"Varela Round", sans-serif;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            ._idGenCellOverride-1 {
                border-right-color:#000000;
                border-right-style:solid;
                border-right-width:0px;


            }
            .CellOverride-1 {
                background-color:#0e416b;
                border-bottom-color:#ffffff;
                border-bottom-width:1px;
                border-left-color:#97ca3d;
                border-left-width:0px;
                border-right-color:#ffffff;
                border-right-width:1px;
                border-top-color:#97ca3d;
                border-top-width:0px;
                padding-bottom:0px;
                padding-top:0px;
            }
            .CellOverride-2 {
                background-color:#0e416b;
                border-bottom-color:#ffffff;
                border-bottom-width:1px;
                border-left-color:#ffffff;
                border-left-width:1px;
                border-right-color:#97ca3d;
                border-right-width:0px;
                border-top-color:#97ca3d;
                border-top-width:0px;
                padding-bottom:9px;
                padding-top:9px;
            }
            .CellOverride-3 {
                background-color:#f5f5f5;
                border-bottom-color:#ffffff;
                border-bottom-width:1px;
                border-left-width:0px;
                border-right-color:#ffffff;
                border-right-width:1px;
                border-top-color:#ffffff;
                border-top-width:1px;
            }
            .CellOverride-4 {
                background-color:#f5f5f5;
                border-bottom-color:#ffffff;
                border-bottom-width:1px;
                border-left-color:#ffffff;
                border-left-width:1px;
                border-right-width:0px;
                border-top-color:#ffffff;
                border-top-width:1px;
            }
            .CellOverride-5 {

                padding-bottom:9px;
                padding-top: 0px;
                padding-left: 9px;
                padding-right: 9px;

            }
            .CellOverride-6 {
                border-bottom-width:0px;
                border-left-width:0px;
                border-right-width:0px;
                border-top-width:0px;
            }
            .CellOverride-7 {
                border-bottom-width:0px;
                border-left-width:0px;
                border-right-width:0px;
                border-top-width:0px;
                padding-bottom:30px;
                padding-top:5px;
                padding-left: 10px;
                vertical-align: top;

            }
            .CellOverride-7a {
                border-bottom-width:0px;
                border-left-width:0px;
                border-right-width:0px;
                border-top-width:0px;
                padding-bottom:20px;
                padding-top:5px;
                padding-left: 10px;
                vertical-align: top;
            }
            .CellOverride-7b {
                border-bottom-width:0px;
                border-left-width:0px;
                border-right-width:0px;
                border-top-width:0px;
                padding-bottom:20px;
                padding-top:5px;
                padding-left: 0px;
                vertical-align: top;
            }
            .CellOverride-8 {
                border-bottom-width:0px;
                border-left-width:0px;
                border-right-width:0px;
                border-top-width:0px;
                padding-bottom:15px;
                padding-top:0px;
                padding-left: 10px;
                vertical-align: top;
            }
            ._idGenTableRowColumn-1 {
                width:250px;
            }
            ._idGenTableRowColumn-2 {
                min-height:10px;
                margin-left: 15px;
            }
            ._idGenTableRowColumn-3 {
                min-height:14px;
            }
            ._idGenTableRowColumn-4 {
                min-height:29px;
            }
            ._idGenTableRowColumn-5 {
                width:142px;
            }
            ._idGenTableRowColumn-6 {
                width:197px;
            }
            ._idGenTableRowColumn-7 {
                min-height: 10px;
                width:400px;
            }
            ._idGenTableRowColumn-8 {
                min-height:34px;
            }
            ._idGenTableRowColumn-9 {
                min-height:27px;
            }
            ._idGenObjectStyleOverride-1 {
                border-color:#58595b;
                border-width:1px;
                width:35%;
            }
            ._idGenObjectStyleOverride-2 {
                background-color:#1bc2ed;
                border-width:0px;
            }
            ._idGenObjectStyleOverride-3 {
                background-color:#a3def5;
                border-width:0px;
            }
            ._idGenObjectStyleOverride-4 {
                background-color:#edf8fe;
                text-align: center;
                margin-top: 0px;
                padding: 10px;
                min-height: 447px;
                max-width: 540px;
                height:100%;
                
            }
            ._idGenObjectLayout-1 {
                text-align:center;
            }
            .Text-styles_Body {
                -epub-hyphens:none;
                color:#000000;
                font-family:Lato, sans-serif;
                font-size:10px;
                font-style:normal;
                font-variant:normal;
                font-weight:bold;
                line-height:1.333;
                margin-bottom:3px;
                margin-left:10px;
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            .Text-styles_Body2 {
                -epub-hyphens:none;
                color:#000000;
                font-family:Lato, sans-serif;
                font-size:10px;
                font-style:normal;
                font-variant:normal;
                font-weight:normal;
                line-height:1.333;
                margin-bottom:3px;
                margin-left:10px;
                margin-right:0;
                padding-right:3px;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            .rightBox1{
                width: 24%;
                float:right;
                height:100%;
                
            }
            .ParaOverride-1 {
                margin-bottom:9px;
                text-align:center;
            }
            .ParaOverride-2 {
                text-align:center;
            }
            .ParaOverride-3 {
                padding-top: 50px;
                margin-bottom:14px;
                text-align:center;
                padding-right:10px;
            }
            .CharOverride-1 {
                color:#00a8e1;
            }
            .CharOverride-2 {
                font-variant:normal;
                text-transform:uppercase;
            }
            .CharOverride-3 {
                font-size:12px;
            }
            .CharOverride-4 {
                font-size:13px;
                font-style:normal;
                font-weight:normal;
            }
            .Form-response {
                font-family:Lato Heavy, sans-serif;
                font-style:normal;
                font-weight:800;
                vertical-align: top;
            }
            .Form-response-Add {
                width: 50px ;
                white-space: pre-wrap; /* css-3 */    
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */    
                white-space: -o-pre-wrap; /* Opera 7 */    
                word-wrap: break-word; /* Internet Explorer 5.5+ */
                font-family:"Lato Heavy", sans-serif;
                font-style:normal;
                font-weight:800;
                vertical-align: top;

            }
            .Form-response2 {
                color:#ed1c24;
                font-family:"Lato Heavy", sans-serif;
                font-style:normal;
                font-weight:800;
                margin-left: 4px;
            }
            .Text-styles_Construction-limit {
                -epub-hyphens:none;
                font-family:"Lato Heavy", sans-serif;
                font-size:26px;
                font-style:normal;
                font-variant:normal;
                font-weight:800;
                line-height:1.2;
                margin-bottom:3px;
                margin-left:0;
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:center;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            .Text-styles_Notes {
                -epub-hyphens:none;
                color:#000000;
                font-family:Lato, sans-serif;
                font-size:10px;
                font-style:normal;
                font-variant:normal;
                font-weight:normal;
                line-height:1.4;
                margin-bottom:3px;
                
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                
                text-transform:none;
                widows:1;
            }
            .Text-styles_Notes2 {
                -epub-hyphens:none;
                color:#000000;
                font-family:"Lato", sans-serif;
                font-size:10px;
                font-style:normal;
                font-variant:normal;
                font-weight:normal;
                line-height:1.4;
                margin-bottom:3px;
                margin-left: 20px;
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                
                text-transform:none;
                widows:1;
            }
            .Text-styles_Table_Head_1 {
                -epub-hyphens:none;
                color:#ffffff;
                font-family:"Lato Heay", sans-serif;
                font-size:9px;
                font-style:normal;
                font-variant:normal;
                font-weight:800;
                line-height:1.111;
                margin-bottom:3px;
                margin-left:3px;
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            .Text-styles_Table_Notes {
                -epub-hyphens:none;
                color:#000000;
                font-family:Lato, sans-serif;
                font-size:6px;
                font-style:normal;
                font-variant:normal;
                font-weight:normal;
                line-height:1.2;
                margin-bottom:3px;
                margin-left:0;
                margin-right:0;
                margin-top:0;
                orphans:1;
                page-break-after:auto;
                page-break-before:auto;
                text-align:left;
                text-decoration:none;
                text-indent:0;
                text-transform:none;
                widows:1;
            }
            .clear {
                clear: both;
                margin-top: 10px;
                padding-bottom: 20px;
            }
        </style>
    </head>

    <body>

        <header>
            <div>
                <div class="headerleft" >
                    <apex:image url="{!URLfor ($Resource.VMIALogos, 'VMIA_Logo_RGB.PNG')}" width="165" height="70"/>
                </div>
                <div>
                    <div  id="_idContainer001" >
                        <p class="Heading-styles_H1">Domestic Building <span class="CharOverride-1">Insurance</span></p>
                    </div>
                    <div id="_idContainer009" >
                        <apex:image url="{!$Resource.VMIAGreenBar}" width="400" height="22" />
                        <span style=" ">
                            <apex:outputLabel styleclass="Heading-styles_H2" >Certificate of Insurance</apex:outputLabel>
                        </span>
                    </div>
                </div>

                <div class="headerRight" >
                    <div style="font-family:Varela Round, sans-serif; float: right; width:400px; ">
                        <div align="center" style="font:12px; text-align: right; font-family:Varela Round, sans-serif;  word-break: break-all;">
                            <p >
                                <span style="font-weight:600; font-size:14px;" >
                                    <apex:outputText value="{!cerlist[0].PIT_Distributor_Name__c}" style="word-break: break-all;"/>
                                </span> 
                                <br/>
                                <apex:outputText value="{!cerlist[0].PIT_Distributor_Address__c}" escape="false"/>
                                <br/>
                                
                                <apex:outputText value="{!cerlist[0].PIT_Distributor_Website__c}"/>
                                <br/>
                                <apex:outputText value="{!cerlist[0].PIT_Distributor_Phone__c}" />
                                <br/>
                            </p>
                        </div> 
                    </div>   
                </div >
            </div>
        </header>

        <footer >
            <div id="_idContainer007" class="footerLeft">
                <div class="Heading-styles_H3"  style="float:left; margin-bottom: 0px; font-size: 12px; padding-bottom: 0px; margin-top: 0px; margin-left: 0;">Issued by Victorian Managed Insurance Authority
                </div>
                <div style="float: left; font-size: 10px; padding-bottom: 0px; margin-bottom: 0px; clear:both;">Date Generated:    
                    <apex:outputText value="{0,date,dd/MM/yyyy}">
                       <apex:param value="{!NOW()}" />
                    </apex:outputText>
                </div>
                <div style="float: left; font-size: 8px; padding-bottom: 0px; margin-bottom: 0px;clear:both;"><span style="font-size: 6px;"> OFFICE USE ONLY:</span>  COI-0717-1 </div>
                <div style="float: left; font-size: 10px; padding-bottom: 0px; margin-bottom: 0px;clear:both;       ">Page <span class="pagenumber"/> of <span class="pagecount"/></div>
            </div>
                
            <div class="footerRight">
                <apex:image style=" float: right;" url="{!URLfor ($Resource.VMIALogos, 'FOOTERright.PNG')}" height="50"/>
            </div>

        </footer>

    
        <div id="_idContainer005" class="Basic-Text-Frame2" >
            <div class="_idGenTableRowColumn-7" style="max-width: 78%;float: left;font-size: 10px;font-weight:normal;">
             
                <table id="table002" class="Basic-TableA" style="table-layout:auto;" >
                    <tbody>
                        <tr  class="_idGenTableRowColumn-7"   >
                            <td class="CellOverride-6" style="text-align: left; padding-bottom: 5px ">
                                <apex:outputText styleClass="Form-response" value="{!propertyOwner}" />
                            </td>
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" style="text-align: left; width:140px ">
                            <td>
                                <apex:outputText styleClass="Form-response" escape="false" value="{!cerList[0].PIT_First_Owner_Address__c}" /><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

           <div style="max-width: 20%;float: right;">
                <table id="table002" class="Basic-Table" style="table-layout:auto" >
                    <tbody>
                        <tr  class="_idGenTableRowColumn-7"   >
                            <td class="CellOverride-6" style="text-align: right; ">Policy Number:
                            </td>
                        </tr>
                        <tr  class="_idGenTableRowColumn-7"  >
                            <td class="Form-response" style="text-align: right"><apex:outputText styleClass="Form-response" style="text-align: right" value="{!cerList[0].PIT_Policy_Number__c}" />
                            </td>
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" >
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" >
                            <td class="CellOverride-6" style="text-align: right">Policy Inception Date:
                            </td>
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" >
                            <td class="Form-response" style="text-align: right">
                                <apex:outputText value="{0,date,dd/MM/yyyy}" styleClass="Form-response">
                                   <apex:param value="{!cerList[0].PIT_Policy_Inception_Date__c}" />
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" >
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" >

                            <td class="CellOverride-6" style="text-align: right">Builder Account Number:
                            </td>
                        </tr>
                        <tr  class="_idGenTableRowColumn-7" >
                            <td class="Form-response" style="text-align: right"><apex:outputText styleClass="Form-response" value="{!cerList[0].Builder__r.Account_Number__c}" />
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div id="_idContainer005" class="Basic-Text-Frame3">
        A contract of insurance complying with the Ministerial Order for Domestic Building Insurance issued under Section 135 of the Building Act 1993 (Vic) (Domestic Building Insurance) has been issued by the insurer Victorian Managed Insurance Authority a Statutory Corporation established under the Victorian Managed Insurance Authority Act 1996 (Vic), in respect of the domestic building work described below.
        </div>
        <div >
            <div id="_idContainer005" class="Basic-Text-Frame" >
                <p class="Heading-styles_H3">Policy Schedule Details</p>
                <br/>
                <apex:outputPanel rendered="{!cerList[0].PIT_Special_Conditions__c != ''}" >
                    <table id="table002" class="Basic-Table">
                        <colgroup>
                            <col class="_idGenTableRowColumn-5"/>
                            <col class="_idGenTableRowColumn-6"/>
                        </colgroup>
                        <tbody>
                            <tr  class="_idGenTableRowColumn-7" >
                                <td class="CellOverride-8">Domestic Building Work:
                                </td>
                                <td class="Form-response"><apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Domestic_Building_Work__c}" />
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-7">
                                <td class="CellOverride-8">At the property:
                                </td>
                                <td class="Form-response">
                                    <apex:outputPanel styleClass="Form-response-Add">
                                    <apex:outputText styleClass="Form-response-Add" value="{!propertyAddressString}" />
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">Carried out by the builder:
                                </td>
                                <td class="Form-response"><apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Builder_Name__c}" /> </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">
                                    <apex:outputPanel rendered="{!displayACN}">Builder ACN:</apex:outputPanel>
                                    <apex:outputPanel rendered="{!displayABN}">Builder ABN:</apex:outputPanel>
                                </td>
                                <td class="Form-response">
                                    <apex:outputPanel rendered="{!displayACN}">
                                        <apex:outputField styleClass="Form-response" value="{!cerList[0].PIT_Builder_ACN__c}" />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!displayABN}">
                                        <apex:outputField styleClass="Form-response" value="{!cerList[0].PIT_Builder_ABN__c}" />
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <tr class="Basic-Table _idGenTableRowColumn-4"  >
                                <td class="Basic-Table CellOverride-5 _idGenCellOverride-1" colspan="2">
                                    <div style="background-color:#f5f5f5; padding: 10px;   height:40px; line-height: 1.4; ">
                                    <span style="color: red; font-size: 30px; font-weight: 800; float:left; padding-right: 10px; " >!
                                    </span>
                                    If the builder’s name and/or its ABN/ACN listed above does not exactly match with the information on the domestic building contract, please contact the VMIA. If these details are incorrect, the domestic building work will not be covered.
                                    </div>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-7">
                                <td class="CellOverride-8">For the building owner(s):
                                </td>
                                <td class="Form-response">
                                    <apex:outputText styleClass="Form-response" value="{!propertyOwner}" />
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-9" >
                                <td class="CellOverride-8">Pursuant to a domestic building contract dated:
                                </td>
                                <td class="Form-response">
                                    <apex:outputText value="{0,date,dd/MM/yyyy}" styleClass="Form-response">
                                       <apex:param value="{!cerList[0].Building_Contract_Date__c}" />
                                    </apex:outputText>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-9" >
                                <td class="CellOverride-8">For the contract price of:
                                </td>
                                <td class="Form-response">
                                    <apex:outputText value="{0, number, $ ###,###,###,###,###,##0}"><apex:param value="{!cerList[0].PIT_Contract_Price__c}" /></apex:outputText>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-9" >
                                <td class="CellOverride-7a" style="text-align: top">Type of Cover:
                                </td>
                                <td class="Form-response" style="padding-right: 4px; padding-bottom: 10px" >Cover is only provided if&nbsp;
                                <apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Builder_Name__c}" /> 
                                 has died, becomes insolvent or has disappeared or fails to comply with a Tribunal or Court Order *
                                </td>
                            </tr>
                            
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">The maximum policy limit for claims made under this policy is:
                                </td>
                                <td class="Form-response">$300,000 all inclusive of costs and expenses *
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">The maximum policy limit for non-completion claims made under this policy is:
                                </td>
                                <td class="Form-response">20% of the contract price limited to the maximum policy limit for all claims under the policy*
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-2" style="page-break-inside: avoid;">
                                <td class="CellOverride-8" style="padding-bottom: 20px">Special conditions:
                                </td>
                                <td class="Form-response"><apex:outputField styleClass="Form-response" value="{!cerList[0].PIT_Special_Conditions__c}" />

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!cerList[0].PIT_Special_Conditions__c == ''}" >
                    <table id="table002" class="Basic-Table">
                        <colgroup>
                            <col class="_idGenTableRowColumn-5"/>
                            <col class="_idGenTableRowColumn-6"/>
                        </colgroup>
                        <tbody>
                            <tr  class="_idGenTableRowColumn-7" >
                                <td class="CellOverride-8">Domestic Building Work:
                                </td>
                                <td class="Form-response"><apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Domestic_Building_Work__c}" />
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-7">
                                <td class="CellOverride-8">At the property:
                                </td>
                                <td class="Form-response">
                                    <apex:outputPanel styleClass="Form-response-Add">
                                    <apex:outputField styleClass="Form-response-Add" value="{!cerList[0].PIT_At_the_Property__c}" />
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">Carried out by the builder:
                                </td>
                                <td class="Form-response"><apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Builder_Name__c}" /> </td>
                            </tr>
                            
                            
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">
                                    <apex:outputPanel rendered="{!displayACN}">Builder ACN:</apex:outputPanel>
                                    <apex:outputPanel rendered="{!displayABN}">Builder ABN:</apex:outputPanel>
                                </td>
                                <td class="Form-response">
                                    <apex:outputPanel rendered="{!displayACN}">
                                        <apex:outputField styleClass="Form-response" value="{!cerList[0].PIT_Builder_ACN__c}" />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!displayABN}">
                                        <apex:outputField styleClass="Form-response" value="{!cerList[0].PIT_Builder_ABN__c}" />
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <tr class="Basic-Table _idGenTableRowColumn-4"  >
                                <td class="Basic-Table CellOverride-5 _idGenCellOverride-1" colspan="2">
                                    <div style="background-color:#f5f5f5; padding: 10px;   height:40px; line-height: 1.4; ">
                                    <span style="color: red; font-size: 30px; font-weight: 800; float:left; padding-right: 10px; " >!
                                    </span>
                                    If the builder’s name and/or its ABN/ACN listed above does not exactly match with the information on the domestic building contract, please contact the VMIA. If these details are incorrect, the domestic building work will not be covered.
                                    </div>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-7">
                                <td class="CellOverride-8">For the building owner(s):
                                </td>
                                <td class="Form-response">
                                    <apex:outputText styleClass="Form-response" value="{!propertyOwner}" />
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-9" >
                                <td class="CellOverride-8">Pursuant to a domestic building contract dated:
                                </td>
                                <td class="Form-response">
                                    <apex:outputText value="{0,date,dd/MM/yyyy}" styleClass="Form-response">
                                       <apex:param value="{!cerList[0].Building_Contract_Date__c}" />
                                    </apex:outputText>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-9" >
                                <td class="CellOverride-8">For the contract price of:
                                </td>
                                <td class="Form-response">
                                    <apex:outputText value="{0, number, $ ###,###,###,###,###,##0.00}"><apex:param value="{!cerList[0].PIT_Contract_Price__c}" /></apex:outputText>
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-9" >
                                <td class="CellOverride-7a" style="text-align: top">Type of Cover:
                                </td>
                                <td class="Form-response" style="padding-right: 4px; padding-bottom: 10px" >Cover is only provided if&nbsp;
                                <apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Builder_Name__c}" /> 
                                 has died, becomes insolvent or has disappeared or fails to comply with a Tribunal or Court Order *
                                </td>
                            </tr>
                            
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">The maximum policy limit for claims made under this policy is:
                                </td>
                                <td class="Form-response">$300,000 all inclusive of costs and expenses *
                                </td>
                            </tr>
                            <tr class="_idGenTableRowColumn-2">
                                <td class="CellOverride-8">The maximum policy limit for non-completion claims made under this policy is:
                                </td>
                                <td class="Form-response">20% of the contract price limited to the maximum policy limit for all claims under the policy*
                                </td>
                            </tr>
                            <br/>
                        </tbody>
                    </table>
                </apex:outputPanel>
            </div>
            <div class="rightBox1" >
                <div id="_idContainer013" class="_idGenObjectStyleOverride-4" >
                    <p class="Heading-styles_H5">PLEASE CHECK</p>
                    <p class="Text-styles_Notes" style="margin-bottom: 15px;">If the information on this certificate does not match what’s on your domestic building contract, please contact the VMIA immediately on 1300 363 424 or email <span style="color:#0e416b; text-decoration: underline;"> dbi@vmia.vic.gov.au</span> </p>
                    <p class="Heading-styles_H5">IMPORTANT</p>
                    <p class="Text-styles_Notes" style="margin-bottom: 10px;">This certificate must be read in conjunction with the policy terms and conditions and kept in a safe place. These documents are very important and must be retained by you and any successive owners of the property for the duration of the period of cover. <br/> <br/>
                    * The cover and policy limits described in this certificate are only a summary of the cover and limits and must be read in conjunction with, and are subject to the terms, conditions, limitations and exclusions contained in the policy terms and conditions.</p>
                </div>
            </div>
        </div>
        <div style="page-break-after:always" />
        <div class="clear"> </div>
        <div id="_idContainer005" class="Basic-Text-Frame3" style="font-size: 9px ">
            <p class="Heading-styles_H3" style="margin-top: 0px; margin-left: 0px;">Period of Cover</p>

             Cover commences on the earlier of the date of the domestic building contract or date of building permit for the domestic building work and concludes: <br style="line-height: 1.6"/>
            <span style="font-weight: 800; padding-right: 10px;">• </span>    Two years from completion of the domestic building work or termination of the domestic building contract for non structural defects* <br style="line-height: 1.6"/>
            <span style="font-weight: 800; padding-right: 10px;">• </span>    Six years from completion of the domestic building work or termination of the domestic building contract for structural defects* 
            <br style="line-height:2" /> 

            Subject to the Building Act 1993, and the Ministerial Order and the conditions of the insurance contract, cover will be provided to the building owner named in the domestic building contract and to the successors in title to the building owner in relation to the domestic building work undertaken by
            the Builder. 
            <br style="line-height: 2"/>
            Issued by Victorian Management Insurance Authority (VMIA)
        </div>

        <div id="_idContainer005" class="Basic-Text-Frame3" style="margin-top: 10px;">
            <p class="Heading-styles_H3"  style="margin-top: 0px; margin-left: 0px;">Domestic Building Insurance Premium and Statutory Costs</p>
            <br/>
            <table id="table002" class="Basic-Table">
                <colgroup>
                    <col class="_idGenTableRowColumn-5"/>
                    <col class="_idGenTableRowColumn-6"/>
                </colgroup>
                <tbody>
                    <tr  class="_idGenTableRowColumn-7" >
                        <td class="CellOverride-8">Base DBI Premium:
                        </td>
                        <td class="Form-response">
                            <apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Base_DBI_Premium__c}" />
                        </td>
                    </tr>
                    <tr class="_idGenTableRowColumn-2">
                        <td class="CellOverride-8">GST:
                        </td>
                        <td class="Form-response">
                            <apex:outputField styleClass="Form-response" value="{!cerList[0].PIT_GST__c}" />
                        </td>
                    </tr>
                    <tr class="_idGenTableRowColumn-2">
                        <td class="CellOverride-8">Stamp Duty:
                        </td>
                        <td class="Form-response">
                            <apex:outputField styleclass="Form-response" value="{!cerList[0].PIT_Stamp_Duty__c}" /> 
                            </td>
                    </tr>
                    <tr class="_idGenTableRowColumn-2">
                        <td class="CellOverride-8" style="font-weight:bold">Total:
                        </td>
                        <td class="Form-response">
                            <apex:outputField styleClass="Form-response2" value="{!cerList[0].PIT_Total__c}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="Heading-styles_H3"  style="text-align: center; margin-top: 00px; margin-left: 30px; margin-right: 30px; ">
        If the information on the certificate does not match exactly what is on your domestic building contract, please contact VMIA on 1300 363 424 <br style="line-height: 0.1" /><span style="font-style: italic;">Below are some example of what to look for</span>
        </div>
        <apex:image style="padding-left: 90px" url="{!$Resource.COIPage2Info}" width="500" height="250"/>
    </body>
</apex:page>