<!-- 
        Date        : 09-June-2017
        Author      : SMS Management & Technology
        Description : Visualforce page to export sobject records
 -->
<apex:page standardcontroller="Invoice__c" extensions="SearchInvoiceController" contentType="application/vnd.ms-excel#Invoice.xls"  cache="true">
    <apex:pageBlock title="List of Invoice">
        
        <br/><br/>
        
        <apex:pageBlockTable value="{!InvoiceList}" var="record" rendered="{!$CurrentPage.Parameters.fullExport != 'TRUE'}">
            <br/>
            <apex:repeat value="{!$ObjectType.Invoice__c.FieldSets.Invoice_Export}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable> 
        
      
        
        
        
        <apex:pageBlockTable value="{!completeInvoiceList}" var="record" rendered="{!IF($CurrentPage.Parameters.fullExport == 'TRUE', true, false)}">
            <br/>
            <apex:repeat value="{!$ObjectType.Invoice__c.FieldSets.Invoice_Export}" var="field">
                <apex:column value="{!record[field]}"/>
            </apex:repeat>
        </apex:pageBlockTable>
        
       
       
    </apex:pageBlock>
</apex:page>