<!--
    @Author      : SMS
    @Name        : FileUpload
    @Date        : 06/03/2017
    @Description : Visualforce component to upload multiple files
-->
<apex:component id="uploadComponent" allowDML="true">
   <apex:attribute name="parentId" description="The ID of the record uploaded documents will be attached to" type="String" required="true"/>

    <body>
        <div class="container">
            <!--<div class="row col-md-12"> -->
                <apex:outputPanel id="pgBlock">
                    <label>Upload multiple attachments</label>
                    <apex:outputPanel id="pgSection">  
                        <div style="width: 95%">                 
                            <div class="alert alert-info">
                                {!$Label.FILE_SIZE_LIMIT}
                            </div>
                            <br/>
                            <input id="fileInput" type="file" multiple="true" name="fileInput"/>
                            <apex:outputPanel id="fileData">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="fileTable">
                                        <thead>
                                            <tr>
                                                <th> File Name </th>
                                                <th> File Type </th>
                                                <th>           </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </apex:outputPanel>
                        </div>
                    </apex:outputPanel>
                </apex:outputPanel>
            <!-- </div> -->
        </div>
    </body> 
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/soap/ajax/39.0/connection.js" type="text/javascript"></script>
    <!-- <script src="{!URLFOR($Resource.ModifiedConnectionJS)}" type="text/javascript"/> -->
    <script src="{!URLFOR($Resource.FileUpload)}" type="text/javascript"/>
    
    <script type="text/javascript">
        sforce.connection.sessionId = '{!$Api.Session_ID}'; 
        $.noConflict();
        jQuery(document).ready(function(){
            init('{!parentId}');
        });
    </script> 
</apex:component>