<!-- 
		Date		:	7 Feb 2017
		Author		:	SMS Management & Technology
		Description :   Footer links and branding for community pages
 -->
<apex:component >
	<style>
		.footerlogo {
			width: 100px;
			height: 50px;
		}
	</style>

	<nav class="navbar">
		<div class="container">
	    	<ul class="nav navbar-nav">
	      		<li class="active"><a href="#">Terms and conditions</a></li>
	      		<li><a href="#">Helpdesk</a></li>
	      		<li><a href="#">DBI Home</a></li>
	    	</ul>
	    	<div class="pull-right">
	      		<apex:image styleclass="footerlogo" url="{!$Resource.VIClogo}" alt="VMIA Logo"/>
	    	</div>
	  	</div>
	</nav>
</apex:component>